<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Durados.Windows.Utilities.AzureUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Durados.Windows.Utilities.AzureUploader.Properties.Settings>
            <setting name="Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="Connection" serializeAs="String">
                <value />
            </setting>
            <setting name="Query" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="AzureAccountKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogoFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LogoConnection" serializeAs="String">
                <value />
            </setting>
            <setting name="LogoQuery" serializeAs="String">
                <value />
            </setting>
            <setting name="LogoAzureAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="LogoAzureAccountKey" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupAzureAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupAzureAccountKey" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupBackupAzureAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupBackupAzureAccountKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Copies" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="ConfigPath" serializeAs="String">
                <value>C:\QA\Config\</value>
            </setting>
            <setting name="LocalConnection" serializeAs="String">
                <value>Data Source=backand-db-p1.cloudapp.net\modubiz_qa,42002;Initial Catalog=ModuBiz_qa;User ID=backqa;Password=Backqa1234!;Integrated Security=False;</value>
            </setting>
            <setting name="ProductionConnection" serializeAs="String">
                <value>Data Source=backand-db-p1.cloudapp.net\modubiz_qa,42002;Initial Catalog=ModuBiz_qa;User ID=backqa;Password=Backqa1234!;Integrated Security=False;</value>
            </setting>
            <setting name="QAConnection" serializeAs="String">
                <value>Data Source=backand-db-p1.cloudapp.net\modubiz_qa,42002;Initial Catalog=ModuBiz_qa;User ID=backqa;Password=Backqa1234!;Integrated Security=False;</value>
            </setting>
            <setting name="DuradosAppSysPrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="DuradosMapConnectionString" serializeAs="String">
                <value>Data Source=backand-db-p1.cloudapp.net\modubiz_qa,42002;Initial Catalog=ModuBiz_qa;User ID=backqa;Password=Backqa1234!;Integrated Security=False;</value>
            </setting>
            <setting name="DeleteFullContainerOndelete" serializeAs="String">
                <value>True</value>
            </setting>
        </Durados.Windows.Utilities.AzureUploader.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>