<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FtpSalt" value="ftp_d455qsAFGG5676dfgdLgdf4545dfg"/>
    
    <add key="FtpDefaultFileSize" value="2"/>
    <!-- ssrs -->
    <add key="ssrsUsername" value="itay"/>
    <add key="ssrsPassword" value="dio2008"/>
    <add key="ssrsDomain" value="devitoutsrv1"/>
    <add key="reportServerUrl" value="http://localhost/ReportServer_SQLEXPRESS"/>
    <add key="reportPath" value="/Test01/"/>
    <!-- 1-exception, 2-warnings, 3-info 4-all -->
    <add key="LogType" value="100" />
    <add key="host" value="smtp.mandrillapp.com" />
    <add key="password" value="RmsCSyEKZNSLWdw1GMOO_A" />
    <add key="username" value="itay@modubiz.com" />
    <add key="port" value="587" />
    <add key="fromAlert" value="teamqa@modubiz.com" />
    <add key="fromError" value="teamqa@modubiz.com" />
    <add key="toError" value="supportqa@modubiz.com" />
    <add key="sendError" value="true" />

    <add key="Mobile" value="true"/>
    <add key="debug" value="true"/>
    <add key="profile" value="false"/>
    <add key="IgnoreAD" value="true"/>
    <add key="multiTenancy" value="true"/>
    <add key="cloud" value="true"/>
    <add key="durados_host" value="backand.co"/>
    <add key="durados_appName" value="bko"/>
    <add key="code" value="23423567"/>
    <add key="codeuser" value="itay"/>
    <add key="MainLogOnPath" value="/Default/Home"/>
    <add key="MainLogOnMvc" value="false" />
    <add key="hostByUs" value="true"/>
    <add key="writeToEventViewer" value="OnlyExceptionsAndIfDbFails"/>
    <add key="cacheType" value="Local" />
    <add key="FtpMaxFileSize" value="30"/>
    <add key="UserPreviewUrl" value=".backand.net/index.html" />
    <add key="NotifyUserOnConsoleReady" value="false"/>

    <add key="NewDBPrefix" value="bqa"/>

    <add key="isChangesInConfigStructure" value="17"/>

    <!--<add key="demoOnPremiseServer" value="modubizvm2.cloudapp.net,1433\demo1"/>
	<add key="demoSqlUsername" value="sa"/>
	<add key="demoSqlPassword" value="Dura2012"/>
	<add key="demoOnPremiseSourcePath" value="C:\Program Files\Microsoft SQL Server\MSSQL10_50.DEMO1\MSSQL\DATA"/>-->

    <add key="testDeploymentSystem" value="1"/>
    <!-- Demo -->
    <add key="demoDatabaseName" value="northwindqa"/>
    <add key="newDemoUser" value="user3dev"/>
    <add key="demoOnPremiseSourcePath" value="E:\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA"/>
    <add key="demoOnPremiseServer" value="137.117.97.62"/>
    <add key="demoSqlUsername" value="modubizqa"/>
    <add key="demoSqlPassword" value="qazWSX123"/>

    <!-- Wix-->
    <add key="plugInSignOut" value="true"/>
    <add key="wixkey" value="43283e86-fb5e-4256-bfdd-5842af017344"/>
    <!-- uncomment this to upgrade wix to premium -->
    <!-- <add key="planId" value="2"/>-->

    <!-- Default Image Storage-->
    <add key="AzureStorageAccountKey" value="fVOlt/HBcRDHEuxmqmA83KkrS6gBv9SmjM3DNENxt4IDnXqlSpV9eLOIUUTYuJ986g2qUxdrTHrqnIB5ELLETA==" />
    <add key="AzureStorageAccountName" value="qa100" />
    <add key="plugInSampleGenerationCount" value="5"/>

    <!-- products switchboard -->
    <!-- <add key="UseSecureConnection" value="true"/> -->
    <add key="SplitProducts" value="false"/>

    <!-- SSH-->
    <add key="startSshTunnelPort" value="20001"/>
    <add key="endSshTunnelPort" value="63000"/>

    <!-- Config-->
    <!-- <add key="configPath" value="C:\QA\Config\" />
    <add key="uploadPath" value="C:\QA\Uploads\" />-->
    <add key="ConfigAzureStorageAccountName" value="qaenv01" />
    <add key="ConfigAzureStorageAccountKey" value="Up0zjwDk7CLZNXX9L5FN3Kn8L7OnpPi7R9zrVbO5hH7xFZZ/E6zEaC1wu80cUsSFE9zs/rmVlbRhb1yqwFAA/Q==" />

    <add key="AzureCacheUrl" value="mapqa01.cache.windows.net" />
    <add key="AzureCacheAccountName" value="mapqa01" />
    <add key="AzureCacheAccountKey" value="YWNzOmh0dHBzOi8vbWFwcWEwMTI0MDYtY2FjaGUuYWNjZXNzY29udHJvbC53aW5kb3dzLm5ldC8vV1JBUHYwLjkvJm93bmVyJmJhNWJwVXRxVFozbmEvek5tbjNXTDFFVk1oVThRTWE4Y1ptM0d0QjRLaHM9Jmh0dHA6Ly9tYXBxYTAxLmNhY2hlLndpbmRvd3MubmV0Lw==" />

    
    <!-- REST API-->
    <add key="apiUrls" value="http://api.backand.co:8099"/>
    <add key="nodeServicesUrl" value="http://localhost:8083"/>

	 	
	<add key="writeToLogStash" value="true" />
	<add key="logStashServer" value="ec2-52-6-131-8.compute-1.amazonaws.com" />
	<add key="logStashPort" value="10520" />
	<add key="writeToReport" value="false" />

	<add key="LogAnalytics" value="true" />
	<add key="SegmentWriteKey" value="B9HnYlGFEZGQ99PkivFxE4kK4M8PKk3B" />

    <!--    <add key="redisConnectionString" value="qa-socket.tv1udw.ng.0001.use1.cache.amazonaws.com:6379" />-->
	<add key="redisConnectionString" value="pub-redis-10938.us-east-1-4.3.ec2.garantiadata.com:10938,password=bell1234" />

    <add key="S3FilesBucket" value="files.backand.net" />
    <add key="S3Bucket" value="hosting.backand.net" />
	
	<add key="ParseConverterMasterKey" value="58b73c43-b017-4598-841e-86498e341d9f" />     
	<add key="ParseConverterAdminKey" value="6b8762e0-c5c0-11e5-9544-121b83496ead" />     
	<add key="ParseConverterObjectName" value="MigrationJobQueue" />
	<add key="NodeJSBucket" value="nodejs.backand.net" />

	<add key="TwitterClientId" value="WSPBntzy031uRfA44MNUmhv4l" />
	<add key="TwitterClientSecret" value="0vcA3JDEQnQxdBNLMIpAZJb0btMzACfJBI6cGnRnnI3MFdm5lS" />
	
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <connectionStrings>
    <add name="MapsConnectionString" connectionString="Data Source=52.1.131.114,1433;Initial Catalog=Backand_qa;User ID=backqa;Password=Backqa1234!;Integrated Security=False;Encrypt=False;" providerName="System.Data.SqlClient"/>
    <add name="LocalizationConnectionString" connectionString="Data Source=52.1.131.114,1433;Initial Catalog=Backand_qa;User ID=backqa;Password=Backqa1234!;Integrated Security=False;" providerName="System.Data.SqlClient"/>
    <add name="SecurityConnectionString" connectionString="Data Source=52.1.131.114,1433;Initial Catalog=Backand_qa_security;User ID=backqa;Password=Backqa1234!;Integrated Security=False;" providerName="System.Data.SqlClient"/>
    <add name="LogConnectionString" connectionString="Data Source=52.1.131.114,1433;Initial Catalog=Backand_qa;User ID=backqa;Password=Backqa1234!;Integrated Security=False;MultipleActiveResultSets=True;Asynchronous Processing=true" providerName="System.Data.SqlClient"/>
 <add name="SystemMapsConnectionString" connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_mang;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60;" />
 

 
  </connectionStrings>
  <system.web>
    
    <httpRuntime targetFramework="4.5" maxRequestLength="35000"/>
    
    <compilation debug="true" targetFramework="4.5">
      <!--<buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>-->
    </compilation>

    <customErrors mode="Off" defaultRedirect="/Error">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="/404" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <urlMappings>




      <add url="~/sign-in" mappedUrl="~/ws/sign-in.html" />
      <add url="~/sign-up" mappedUrl="~/ws/sign-up.html" />
      <add url="~/connect" mappedUrl="~/ws/connect.html" />
      <add url="~/recover" mappedUrl="~/ws/recover-password.html" />
      <add url="~/index"  mappedUrl="~/ws/index.html" />
      <add url="~/bootstrap-theme" mappedUrl="~/ws/bootstrap-theme.html" />
      <add url="~/contact" mappedUrl="~/ws/contact.html" />
      <add url="~/how-to-videos" mappedUrl="~/ws/how-to-videos.html" />
      <add url="~/terms-of-use" mappedUrl="~/ws/tc.html" />
      <add url="~/privacy-policy" mappedUrl="~/ws/pp.html" />
      <add url="~/404" mappedUrl="~/ws/404.html" />
      <add url="~/error" mappedUrl="~/ws/error.aspx" />
      <add url="~/change-password" mappedUrl="~/ws/recover-change-password.html" />
      <add url="~/about" mappedUrl="~/ws/about.html" />
      <add url="~/career" mappedUrl="~/ws/career.html" />
      <add url="~/push" mappedUrl="~/ws/landing-push.html" />
      <add url="~/rest-api" mappedUrl="~/ws/rest-api.html" />
      <add url="~/get-started" mappedUrl="~/ws/get-started.html" />
      <add url="~/orm" mappedUrl="~/ws/orm.html" />
      <add url="~/enterprise" mappedUrl="~/ws/enterprise.html" />
      <add url="~/features" mappedUrl="~/ws/product.html" />
      <add url="~/pricing" mappedUrl="~/ws/pricing.html" />

      <add url="~/sign-in-old" mappedUrl="~/ws/sign-in-old.html" />
      <add url="~/apps-old" mappedUrl="~/MultiTenancy/IndexPage/durados_App?guid=durados_App_e10_&amp;mainPage=False" />
		
    </urlMappings >

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880">
      </forms>
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="SecurityConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="Security" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="SecurityConnectionString" applicationName="Security" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="SecurityConnectionString" applicationName="Security" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add applicationName="Security" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
</system.web>

  <system.webServer>
  <security>
       <requestFiltering>
          <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
          <requestLimits maxAllowedContentLength="52428800" />
       </requestFiltering>
    </security>
		<rewrite>
			<rules>
				<rule name="Redirect domain.com to www2" patternSyntax="Wildcard" stopProcessing="false">
					<match url="*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="backand.co" />
					</conditions>
					<action type="Redirect" url="http://www.backand.co/{R:0}" />
				</rule>
			</rules>
		</rewrite>
    <modules runAllManagedModulesForAllRequests="true" />    
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <remove name="Access-Control-Allow-Methods" />
        <remove name="Access-Control-Allow-Origin" />
        <remove name="Access-Control-Allow-Headers" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Allow-Origin" value="http://bko.backand.co" />
        <add name="Access-Control-Allow-Headers" value="*"/>
      </customHeaders>
    </httpProtocol>


</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
