<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <!--<configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>-->
  <appSettings>
    <!-- FTP -->
    <add key="FtpSalt" value="ftp_d455qsAFGG5676dfgdLgdf4545dfg"/>
    <add key="FtpMaxFileSize" value="10"/>
    <add key="FtpDefaultFileSize" value="2"/>
    <!-- ssrs -->
    <add key="ssrsUsername" value="itay"/>
    <add key="ssrsPassword" value="dio2008"/>
    <add key="ssrsDomain" value="devitoutsrv1"/>
    <add key="reportServerUrl" value="http://localhost/ReportServer_SQLEXPRESS"/>
    <add key="reportPath" value="/Test02/"/>
    <!-- 1-exception, 2-warnings, 3-info 4-all -->
    <add key="LogType" value=" 3"/>

    <!--<add key="host" value="shade.durados.us" />
    <add key="password" value="mail1234" />
    <add key="username" value="admin@shade.durados.us" />
    <add key="port" value="25" />
    <add key="fromAlert" value="support@DuradosCRM.com" />
    <add key="fromError" value="alert@DuradosCRM.com" />
    <add key="toError" value="itay@devitout.com" />-->

    <add key="host" value="smtp.mandrillapp.com" />
    <add key="password" value="RmsCSyEKZNSLWdw1GMOO_A" />
    <add key="username" value="itay@modubiz.com" />
    <add key="port" value="587" />
    <add key="fromAlert" value="yariv@backand.com" />
    <add key="fromError" value="yariv@backand.com" />
    <add key="toError" value="yariv@backand.com" />
    <add key="Mobile" value="true"/>
    <add key="debug" value="true"/>
    <add key="profile" value="false"/>
    <add key="IgnoreAD" value="true"/>
    <add key="multiTenancy" value="true"/>
    <add key="cloud" value="true"/>
    <add key="durados_host" value="backand.loc"/>
    <add key="durados_appName" value="www"/>
    <add key="code" value="23423567"/>
    <add key="codeuser" value="itay"/>
    <add key="MainLogOnPath" value="~/index.aspx"/>
    <add key="MainLogOnMvc" value="false"/>
    <add key="skin" value="false"/>
    <add key="plugInSignOut" value="true"/>
    <!--<add key="cacheType" value="AzureLargeObjects" />-->
    <!--<add key="demoOnPremiseServer" value="modubizvm2.cloudapp.net,1433\demo1"/>
            <add key="demoSqlUsername" value="sa"/>
            <add key="demoSqlPassword" value="Dura2012"/>
            <add key="demoOnPremiseSourcePath" value="C:\Program Files\Microsoft SQL Server\MSSQL10_50.DEMO1\MSSQL\DATA"/>-->
    <!-- Demo -->
    <add key="demoDatabaseName" value="northwinddev1"/>
    <add key="newDemoUser" value="user3dev"/>
    <add key="demoOnPremiseSourcePath" value="G:\Program Files\Microsoft SQL Server\MSSQL10_50.DEV1\MSSQL\DATA"/>
    <add key="demoOnPremiseServer" value=".\dev1"/>
    <add key="demoSqlUsername" value="dev1"/>
    <add key="demoSqlPassword" value="Modubiz2012"/>
    <add key="demoUploadSourcePath" value="986"/>
    <add key="wixkey" value="dbee1977-90f2-4ae8-a778-717a23d25513"/>
    <!--<add key="wixkey" value="ea219013-e1fe-47b4-b9ae-9a175d98f9a8"/>-->
    <!--prod-->
    <!--<add key="CryptorKey" value="abcd"/>
            <add key="MasterUserNameFormat" value="master{0}@modubiz.com"/>-->
    <!--<add key="configPath" value="d:\Config\"/>-->
    <add key="MySqlUploadPath" value="G:\Dev\Relly - MySQL\Duradus.Web.Mvc.App\Uploads\"/>
    <add key="writeToEventViewer" value="OnlyExceptionsAndIfDbFails"/>
    <!--<add key="SymmetricKeyName" value="7B35E6CF-16F4-4A9A-A8AB-7B150BE531EA"/>
                        <add key="MasterKeyPassword" value="7B35E6CF-16F4-4A9A-A8AB-7B150BE531EA"/>-->
    <add key="AzureStorageUrl" value="http://{0}.blob.core.windows.net/{1}" />
    <add key="AzureStorageAccountName" value="qacontent" />
    <add key="AzureStorageAccountKey" value="6/OpnuGeLRm8REKhQ/5Led/WoJcHjmFJII4GM5HYJ120o7OxtgC1zCstw0kqyn05N2m1jGadY3aYFypOzD4L5A==" />
    <add key="DefaultUploadName" value="DefaultUpload" />
    <add key="DefaultImageHeight" value="80" />
    <add key="AzureCacheUpdateInterval" value="65" />
    <add key="ConfigAzureStorageAccountName" value="configqa001" />
    <add key="ConfigAzureStorageAccountKey" value="+qLY6J53fj9ExgCb1jOh1JIFPF1D3Kzlg/ZAN7Zq3tklDZ4LdTQYjTB+vG7ZV7QsUkQDNOsny+6OT6xCgTza4Q==" />
    <add key="AzureCacheUrl" value="mapqa01.cache.windows.net" />
    <add key="AzureCacheAccountName" value="mapqa01" />
    <add key="AzureCacheAccountKey" value="YWNzOmh0dHBzOi8vbWFwcWEwMTI0MDYtY2FjaGUuYWNjZXNzY29udHJvbC53aW5kb3dzLm5ldC8vV1JBUHYwLjkvJm93bmVyJmJhNWJwVXRxVFozbmEvek5tbjNXTDFFVk1oVThRTWE4Y1ptM0d0QjRLaHM9Jmh0dHA6Ly9tYXBxYTAxLmNhY2hlLndpbmRvd3MubmV0Lw==" />
    <!--<add key="planId" value="2"/>-->
    <!--<add key="UseSecureConnection" value="true"/>-->
    <add key="SplitProducts" value="false"/>
    <add key="MySqlPort" value="3698"/>
    <add key="SqlServerPort" value="3698"/>
    <add key="SqlAzurePort" value="3698"/>
    <add key="startSshTunnelPort" value="10000"/>
    <add key="endSshTunnelPort" value="20000"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  
   <add key="S3Bucket" value="hosting.backand.net" />
    <add key="S3FilesBucket" value="files.backand.net" />
    <add key="NodeJSBucket" value="nodejs.backand.net" />

    <add key="ParseConverterMasterKey" value="f2527382-29b4-48ce-a4bb-33a00cd8d924" />
    <add key="ParseConverterAdminKey" value="2dfd4627-cdb7-11e5-bac4-ecf4bb08283e" />
    <add key="ParseConverterObjectName" value="migrationjobqueue" />

  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <connectionStrings>
    <!--<add name="MapsConnectionString" connectionString="Data Source=backand-db-p1.cloudapp.net\prod3,42001;Initial Catalog=backand_prod;User ID=backand;Password=qwerty!!33;Integrated Security=False;Encrypt=False;" providerName="System.Data.SqlClient" />
    <add name="LocalizationConnectionString" connectionString="Data Source=backand-db-p1.cloudapp.net\prod3,42001;Initial Catalog=backand_prod;User ID=backand;Password=qwerty!!33;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="SecurityConnectionString" connectionString="Data Source=backand-db-p1.cloudapp.net\prod3,42001;Initial Catalog=backand_prod;User ID=backand;Password=qwerty!!33;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="LogConnectionString" connectionString="Data Source=backand-db-p1.cloudapp.net\prod3,42001;Initial Catalog=backand_prod;User ID=backand;Password=qwerty!!33;Integrated Security=False;MultipleActiveResultSets=True;Asynchronous Processing=true" providerName="System.Data.SqlClient" />-->
    
    <add name="MapsConnectionString" connectionString="Data Source=.\SQLSERVER2012;Initial Catalog=BackAnd_dev;User ID=sa;Password=1234;Integrated Security=False;Encrypt=False;" providerName="System.Data.SqlClient" />
    <add name="LocalizationConnectionString" connectionString="Data Source=.\SQLSERVER2012;Initial Catalog=BackAnd_dev;User ID=sa;Password=1234;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="SecurityConnectionString" connectionString="Data Source=.\SQLSERVER2012;Initial Catalog=BackAnd_dev_security;User ID=sa;Password=1234;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="LogConnectionString" connectionString="Data Source=.\SQLSERVER2012;Initial Catalog=BackAnd_dev;User ID=sa;Password=1234;Integrated Security=False;MultipleActiveResultSets=True;Asynchronous Processing=true" providerName="System.Data.SqlClient" />
    <add name="SystemMapsConnectionString" connectionString="server=yrv-dev.czvbzzd4kpof.eu-central-1.rds.amazonaws.com;database=backandRDS_dev;uid=yariv;password=Back2014!;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60;" />

    <!--<add name="SystemMapsConnectionString" connectionString="Data Source=.\SQLSERVER2012;Initial Catalog=BackAnd_dev;User ID=sa;Password=1234;Integrated Security=False;Encrypt=False;" providerName="System.Data.SqlClient" />-->
    <!--<add name="MapsConnectionString" connectionString="Data Source=137.117.136.30\SQL2012;Initial Catalog=BackAnd_dev;User ID=itay;Password=Back2013;Integrated Security=False;Encrypt=False;" providerName="System.Data.SqlClient"/>
    <add name="LocalizationConnectionString" connectionString="Data Source=137.117.136.30\SQL2012;Initial Catalog=BackAnd_dev;User ID=itay;Password=Back2013;Integrated Security=False;" providerName="System.Data.SqlClient"/>
    <add name="SecurityConnectionString" connectionString="Data Source=137.117.136.30\SQL2012;Initial Catalog=BackAnd_dev_security;User ID=itay;Password=Back2013;Integrated Security=False;" providerName="System.Data.SqlClient"/>
    <add name="LogConnectionString" connectionString="Data Source=137.117.136.30\SQL2012;Initial Catalog=BackAnd_dev;User ID=itay;Password=Back2013;Integrated Security=False;MultipleActiveResultSets=True;Asynchronous Processing=true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <httpRuntime targetFramework="4.5"/>
    <!--<compilation debug="true" targetFramework="4.5">
      <buildProviders>
        -->
    <!--<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
    <!--
      </buildProviders>
    </compilation>-->
    <customErrors mode="Off">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <urlMappings>
      <add url="~/contact" mappedUrl="~/Website/contact.aspx"/>
      <add url="~/about" mappedUrl="~/Website/about.aspx"/>
      <add url="~/product" mappedUrl="~/Website/product.aspx"/>
      <add url="~/support" mappedUrl="~/Website/support.aspx"/>
      <add url="~/terms-of-use" mappedUrl="~/Website/tc.aspx"/>
      <add url="~/privacy-policy" mappedUrl="~/Website/privacy.aspx"/>
      <add url="~/index.aspx" mappedUrl="~/Website/index.aspx"/>
      <add url="~/index" mappedUrl="~/Website/index.aspx"/>
      <add url="~/apps" mappedUrl="~/MultiTenancy/IndexPage/durados_App?guid=durados_App_e10_&amp;mainPage=False"/>
    </urlMappings>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="SecurityConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="Security"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="SecurityConnectionString" applicationName="Security"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="SecurityConnectionString" applicationName="Security" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add applicationName="Security" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <!-- Windows Azure Cache session state provider -->
    <!--<sessionState mode="Custom" customProvider="AFCacheSessionStateProvider">
      <providers>
        <add name="AFCacheSessionStateProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheSessionState"/>
      </providers>
    </sessionState>-->
    <!-- Windows Azure Cache output cache provider -->
    <!--Uncomment this section to use Windows Azure Cache for output cache-->
    <!--<caching>
      <outputCache defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>-->
    <compilation debug="true"/>

  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="ReportViewerWebControlHandler"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly-->>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
   
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <dataCacheClients>
    <dataCacheClient name="default">
      <!--To use the in-role flavor of Windows Azure Cache, set identifier to be the cache cluster role name -->
      <!--To use the Windows Azure Cache Service, set identifier to be the endpoint of the cache cluster -->
      <autoDiscover isEnabled="true" identifier="mapqa01.cache.windows.net"/>
      <!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />-->
      <!--Use this section to specify security settings for connecting to your cache. This section is not required if your cache is hosted on a role that is a part of your cloud service. -->
      <securityProperties mode="Message" sslEnabled="false">
        <messageSecurity authorizationInfo="YWNzOmh0dHBzOi8vbWFwcWEwMTI0MDYtY2FjaGUuYWNjZXNzY29udHJvbC53aW5kb3dzLm5ldC8vV1JBUHYwLjkvJm93bmVyJmJhNWJwVXRxVFozbmEvek5tbjNXTDFFVk1oVThRTWE4Y1ptM0d0QjRLaHM9Jmh0dHA6Ly9tYXBxYTAxLmNhY2hlLndpbmRvd3MubmV0Lw=="/>
      </securityProperties>
    </dataCacheClient>
  </dataCacheClients>
</configuration>
