<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- FTP -->
    <add key="FtpSalt" value="ftp_" />
    <add key="FtpMaxFileSize" value="10" />
    <add key="FtpDefaultFileSize" value="2" />
    <!-- ssrs -->


    <!-- 1-exception, 2-warnings, 3-info 4-all -->

    <add key="LogType" value="4" />

    <add key="host" value="shade.durados.us" />
    <add key="password" value="mail1234" />
    <add key="username" value="admin@shade.durados.us" />
    <add key="port" value="25" />
    <add key="fromAlert" value="support@DuradosCRM.com" />
    <add key="fromError" value="alert@DuradosCRM.com" />
    <add key="toError" value="itay@devitout.com" />
    <add key="Mobile" value="true" />
    <add key="debug" value="true" />
    <add key="profile" value="false" />
    <add key="IgnoreAD" value="true" />
    <add key="multiTenancy" value="true" />
    <add key="cloud" value="false" />
    <!--<add key="durados_host" value="backand.loc" />
    <add key="durados_port" value="4120" />-->


    <add key="remoteAdminUrl" value="backand.loc:4009" />
    <add key="mainAppConfigName" value="backand" />
    <add key="OldAdminHttp" value="true" />

    <add key="durados_appName" value="bko" />

    <add key="skin" value="false" />
    <add key="plugInSignOut" value="true" />


    <add key="writeToEventViewer" value="OnlyExceptionsAndIfDbFails" />

    <add key="AzureStorageAccountName" value="{{}}" />
    <add key="AzureStorageAccountKey" value="{{}}" />

    <add key="ConfigAzureStorageAccountName" value="{{}}" />
    <add key="ConfigAzureStorageAccountKey" value="{{}}" />
    <add key="azurecacheurl" value="{{}}" />
    <add key="azurecacheaccountname" value="{{}}" />
    <add key="azurecacheaccountkey" value="{{}}" />

    <!-- External Login-->

    <add key="GithubClientId" value="{{}}" />
    <add key="GithubClientSecret" value="{{}}" />

    <!-- Facebook test01-->
    <add key="FacebookClientId" value="{{}}" />
    <add key="FacebookClientSecret" value="{{}}" />


    <add key="TwitterClientId" value="{{}}" />
    <add key="TwitterClientSecret" value="{{}}" />


    <add key="GoogleClientId" value="{{}}" />
    <add key="GoogleClientSecret" value="{{}}" />

    <add key="nodeHost" value="http://localhost:9000" />

    <add key="farmSchema" value="http" />

    <add key="farmMyIntanceAddress" value="localhost:8000" />
    <add key="localDatabaseHost" value="localhost" />
    <add key="writeToReport" value="false" />

    <add key="poolCreator" value="1" />
    <add key="poolShouldBeUsed" value="true" />

    <add key="S3Bucket" value="{{hosting.YOURDOMAIN.com}}" />
    <add key="S3FilesBucket" value="{{files.YOURDOMAIN.com}}" />
    <add key="NodeJSBucket" value="{{lambdaFiles.YOURDOMAIN.com}}" />

    <add key="ParseConverterMasterKey" value="{{}}" />
    <add key="ParseConverterAdminKey" value="{{}}" />
    <add key="ParseConverterObjectName" value="migrationjobqueue" />


    <add key="logStashServer" value="{{}}" />
    <add key="logStashPort" value="10520" />

    <add key="DevUsers" value="" />
    <add key="ExcludedEmailDomains" value="@backand.com" />

    <add key="AppLockedMessage" value="The app {0} is locked. This could be a payment issue. Please contact the administrator." />


    <add key="isChangesInConfigStructure" value="3" />

    <add key="redisConnectionString" value="redis-19443.c8.us-east-1-2.ec2.cloud.redislabs.com:19443" />

    <add key="SendWelcomeEmail" value="false" />
    <!-- For sending error email -->
    <add key="SmtpLocalHost" value="localhost" />
    <add key="SmtpLocalPort" value="25" />
    <add key="SmtpLocalUsername" value="" />
    <add key="SmtpLocalPassword" value="" />
    <add key="SMTPProvider" value="local" />

    <add key="embeddedReportsApiToken" value="{{}}" />
    <add key="embeddedReportsUrlStep1" value="{{}}" />
    <add key="embeddedReportsUrlStep2" value="{{}}"/>
    <add key="embeddedReportAppPropertyName" value="event_name" />

    <add key="awsAccessKeyId" value="{{}}" />
    <add key="awsSecretAccessKey" value="{{}}" />

    <add key="webhooksParametersFileName" value="deployment\webhooks-dev.json" />

    <add key="CqlApiUrl" value="{{}}" />
    <add key="CqlAuthorizationHeader" value="{{}}" />
    <add key="CqlsFileName" value="deployment\cqls-dev.json" />
    <add key="lambdaArn" value="{{}}" />
    <!--arn:aws:lambda:us-east-1:YOUR-AWS-ACCOUNT-ID:function:cronDev-->
    <add key="cronPrefix" value="CRON-DEV" />
    <add key="cronLimit" value="2" />
    <add key="cronAuthorizationHeader" value="{{}}" />
    <!-- backand basic auth e.g. Basic XXX==-->
    <add key="localAddress" value="http://localhost:8000" />

    <add key="actionParametersKbSizeLimit" value="100" />
    <add key="actionTimeMSecLimit" value="30000" />
    <add key="uploadTimeMSecLimit" value="50000" />

    <add key="enablePasswordRetrieval" value="false" />
    <add key="enablePasswordReset" value="true" />
    <add key="requiresUniqueEmail" value="false" />
    <add key="passwordFormat" value="Hashed" />
    <add key="socketUrl" value="http://localhost:9000" />

    <add key="socialTestApps" value="" />

    <add key="awsRegion" value="us-east-1" />
    <add key="lambdaArnRoot" value="{{}}" />
    <!-- arn:aws:lambda:us-east-1:YOUR-AWS-ACCOUNT-ID:function: -->
    
    <!--<add key="masterOpsAuth" value="bf931bf0-3757-444d-ab9c-68368324690b"/>
    <add key="masterAppGuid" value="bf931bf0-3757-444d-ab9c-68368324690b"/>-->
    
    <!--<add key="masterOpsAuth" value="696b51c6-293a-4cdc-abd0-f90a95f307e8" />-->
     <!--a developer user guid in durados_ValidGuid table e.g. bf931bf0-3757-444d-ab9c-68368324690b--> 
    <!--<add key="masterAppGuid" value="696b51c6-293a-4cdc-abd0-f90a95f307e8" />-->

    <add key="masterOpsAuth" value="bf931bf0-3757-444d-ab9c-68368324690b"/>
    <add key="masterAppGuid" value="bf931bf0-3757-444d-ab9c-68368324690b"/>
     <!--32 diit UID with 4 Hyphens (RFC 7515), create app name bko and set its Guid value here, this is used for decrpting the durados_SqlConnection user Password-->  

    <add key="existOldAdmin" value="false" />


    <add key="ConfigAwsStorageBucketName" value=""/>
    <add key="ConfigAwsStorageAccessKeyID" value=""/>
    <add key="ConfigAwsStorageSecretAccessKey" value=""/>
    <!-- path of your backand api/config installation, backand.xml and backand.xml.xml should be here -->


  </appSettings>
  <connectionStrings>
    <add connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_qa_main_test;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60" name="MapsConnectionString" providerName="MySql.Data.MySqlClient" />
    <add connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_qa_main_test;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60" name="LocalizationConnectionString" providerName="MySql.Data.MySqlClient" />
    <add connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_qa_main_test;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60" name="LogConnectionString" providerName="MySql.Data.MySqlClient" />
    <add connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_qa_main_test;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60" name="SystemMapsConnectionString" providerName="MySql.Data.MySqlClient" />
    <add connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_qa_security;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60" name="SecurityConnectionString" providerName="MySql.Data.MySqlClient" />
    
    <add connectionString="server=10.0.0.8;database=backand_qa;uid=backqa;password=Back2016;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60" name="AppsConnectionString" providerName="MySql.Data.MySqlClient"/>
    <add name="reportConnectionString" connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_mang;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60;" />
    <!--<add name="MapsConnectionString" connectionString="Data Source=.,1433;Initial Catalog=Backand_qa;User ID=backqa;Password=Backqa1234!;Integrated Security=False;Encrypt=False;" providerName="System.Data.SqlClient" />-->

    <!--<add name="SecurityConnectionString" connectionString="Data Source=.,1433;Initial Catalog=Backand_qa_security;User ID=backqa;Password=Backqa1234!;Integrated Security=False;" providerName="System.Data.SqlClient" />-->
    <!--<add name="LogConnectionString" connectionString="Data Source=.,1433;Initial Catalog=Backand_qa;User ID=backqa;Password=Backqa1234!;Integrated Security=False;MultipleActiveResultSets=True;Asynchronous Processing=true" providerName="System.Data.SqlClient" />
    <add name="reportConnectionString" connectionString="Data Source=.,1433;Initial Catalog=Backand_log;User ID=backqa;Password=Backqa1234!;Integrated Security=False;MultipleActiveResultSets=True;Asynchronous Processing=true" providerName="System.Data.SqlClient" />
    <add name="LocalizationConnectionString" connectionString="Data Source=.,1433;Initial Catalog=Backand_qa;User ID=backqa;Password=Backqa1234!;Integrated Security=False;" providerName="System.Data.SqlClient" />-->
<!--
    
    <add name="LogConnectionString" connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_mang;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60;" />
    <add name="reportConnectionString" connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_mang;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60;" />
    <add name="LocalizationConnectionString" connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_mang;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60;" />


    <add name="MapsConnectionString" connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_dev;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60;" />
    <add name="SecurityConnectionString" connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_dev_security;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60;" />
    <add name="SystemMapsConnectionString" connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_mang;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60;" />

    <add name="AppsConnectionString" connectionString="server=bknd-qa-sys-mysql.cd2junihlkms.us-east-1.rds.amazonaws.com;database=backand_dev_security;uid=backandqasys;password=Backqa1234!sys;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60;" />
-->

    <!--
    <add name="MapsConnectionString" connectionString="Data Source=.\SQLSERVER2012;Initial Catalog=BackAnd_dev;User ID=sa;Password=1234;Integrated Security=False;Encrypt=False;" providerName="System.Data.SqlClient" />
    <add name="LocalizationConnectionString" connectionString="Data Source=.\SQLSERVER2012;Initial Catalog=BackAnd_dev;User ID=sa;Password=1234;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="SecurityConnectionString" connectionString="Data Source=.\SQLSERVER2012;Initial Catalog=BackAnd_dev_security;User ID=sa;Password=1234;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <add name="LogConnectionString" connectionString="Data Source=.\SQLSERVER2012;Initial Catalog=BackAnd_dev;User ID=sa;Password=1234;Integrated Security=False;MultipleActiveResultSets=True;Asynchronous Processing=true" providerName="System.Data.SqlClient" />
    <add name="SystemMapsConnectionString" connectionString="server=yrv-dev.czvbzzd4kpof.eu-central-1.rds.amazonaws.com;database=backandRDS_dev;uid=yariv;password=Back2014!;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60;" />-
    <add name="SystemMapsConnectionString" connectionString="server=localhost;database=backand_dev;uid=sa;Password=1234;port=3306;convert zero datetime=True;default command timeout=90;Connection Timeout=60;" />
    <add name="reportConnectionString" connectionString="Data Source=.\SQLSERVER2012;Initial Catalog=BackAnd_dev_log;User ID=sa;Password=1234;Integrated Security=False;MultipleActiveResultSets=True;Asynchronous Processing=true" providerName="System.Data.SqlClient" />
-->

  </connectionStrings>
  <system.web>
    <membership>
      <providers>
        <clear />
        <!--<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="SecurityConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="Security" />
        <add name="AspNetSqlMembershipProviderMulti" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="SecurityConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="Multi" />-->
        <add name="AspNetSqlMembershipProvider" autogenerateschema="true" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.4.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="SecurityConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="Security" />
        <add name="AspNetSqlMembershipProviderMulti" autogenerateschema="true" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.4.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="SecurityConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="bla" />

      </providers>
    </membership>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="SecurityConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" applicationName="Security"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="SecurityConnectionString" applicationName="Security"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add connectionStringName="SecurityConnectionString" applicationName="Security" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add applicationName="Security" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="51200" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT, DELETE" />
        <remove name="Access-Control-Expose-Headers" />
        <add name="Access-Control-Expose-Headers" value="Action-Guid" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>