<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.TasksConnectionString"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=bugit;User ID=bugit;Password=bugit;Integrated Security=False;"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.TasksLiveConnectionString"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=bugit;User ID=bugit;Password=bugit;Integrated Security=False;"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.lmConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=lm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.CMSConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.CmsConnectionString1"
            connectionString="Data Source=mobixdev1\sqlexpress;Initial Catalog=Cms;User ID=relly;Password=relly2805"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.gearConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=gear;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.VisitConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Visit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.DependencyConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Dependency;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.scmbdcConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=scmbdc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.Durados_CRMConnectionString2"
            connectionString="Data Source=durados.co.il\sqlexpress;Initial Catalog=Durados_CRM;User ID=crm;Password=crm"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.ResearchConnectionString"
            connectionString="Data Source=itay-pc\sql2008;Initial Catalog=Research;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.tguvotConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=tguvot;Integrated Security=True" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.CRM_ShadeConnectionString"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=CRM_ShadeDev;Integrated Security=False;User ID=shade;Password=shade"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.Durados_CRMConnectionString1"
            connectionString="Data Source=durados.co.il\sqlexpress;Initial Catalog=Durados_BaseCRM;User ID=basecrm;Password=basecrm" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.aslapiConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=aslapi;Integrated Security=True" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.Durados_CRMConnectionString"
            connectionString="Data Source=durados.co.il\sqlexpress;Initial Catalog=Durados_BaseCRM;User ID=basecrm;Password=basecrm" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.ERPConnectionString"
            connectionString="Data Source=itay-pc\sql2008;Initial Catalog=ERP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.Sandisk_ReqConnectionString"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=Sandisk_Req;User ID=sa;Password=sa2008"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.CRM_ShadeConnectionString1"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=CRM_ShadeDev;User ID=shade;Password=shade;Integrated Security=False;" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.Durados_CRMBaseConnectionString"
            connectionString="Data Source=durados.co.il\sqlexpress;Initial Catalog=Durados_BaseCRM;User ID=crmbase;Password=crmbase" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.Durados_BaseCRMConnectionString"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=Durados_BaseCRM;User ID=crmbase;Password=crmbase"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.CRM_ShadeConnectionString2"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=CRM_ShadeDev;Persist Security Info=False;User ID=shade;Password=shade"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.Durados_CRMConnectionString3"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Durados_CRM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.CRM_ShadeConnectionString3"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=CRM_ShadeDev;Persist Security Info=False;User ID=shade;Password=shade" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.CRM_ShadeDevConnectionString"
            connectionString="Data Source=durados.co.il\sqlexpress;Initial Catalog=CRM_ShadeDev;Persist Security Info=True;User ID=shade;Password=shade"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.SanDisk_allegroConnectionString"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=SanDisk_allegro;User ID=sa;Password=sa2008"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.Sandisk_allegro_v1ConnectionString"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=Sandisk_allegro_v1;User ID=sandisk;Password=sandisk"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Properties.Settings.Durados_CRMDemoConnectionString"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=Durados_CRMDemo;User ID=sa;Password=sa2008"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.EPL.Properties.Settings.CRM_ShadeConnectionString"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=CRM_ShadeDev;Integrated Security=False;User ID=shade;Password=shade"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.EPL.Properties.Settings.Durados_CRMConnectionString3"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Durados_CRM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.EPL.Properties.Settings.Durados_CRMConnectionString2"
            connectionString="Data Source=durados.co.il\sqlexpress;Initial Catalog=Durados_CRM;User ID=crm;Password=crm"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.EPL.Properties.Settings.Durados_CRMConnectionString1"
            connectionString="Data Source=durados.co.il\sqlexpress;Initial Catalog=Durados_BaseCRM;User ID=basecrm;Password=basecrm" />
        <add name="Durados.Web.Mvc.Specifics.EPL.Properties.Settings.Durados_CRMConnectionString"
            connectionString="Data Source=durados.co.il\sqlexpress;Initial Catalog=Durados_BaseCRM;User ID=basecrm;Password=basecrm" />
    </connectionStrings>
</configuration>