* {
  box-sizing: border-box;
}

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';

/* Base styles
----------------------------------*/
/*html, body {height: 100%;}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, tbody, th, td {margin: 0;padding: 0;border-collapse:collapse;font-weight: inherit;border: none;font-family:Arial, Helvetica, sans-serif;}
*/
strong {font-weight:bold;}
fieldset, img {border: 0; margin:0px;}
address, caption, cite, code, dfn, em, th, var {font-style: normal;font-weight: normal;}
li {list-style: none;padding-right: 0px;padding-left: 0px;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
q:before, q:after {content: '';}
abbr, acronym {border: 0;font-variant: normal;}
sup {font-size: 50%;}
legend {color: #000;}
:focus {outline: 0;}
form {margin: 0px;padding: 0px;}
.clearfix {display: block;height: 0;clear: both;visibility: hidden;float:none;height:0px;zoom: 1;}
a{text-decoration:none;}
.watermarkThis {color:#cccccc !important;font-style:italic;}

body {overflow:hidden;}
.sitewidth {position:relative;min-width:975px;}
.complogo {}
.complogo img {display:block;float:left;margin-left: 140px;}

/* Checkbox helpers
----------------------------------*/
.jquery-safari-checkbox{display:inline;font-size:14px; line-height:14px;cursor:pointer;cursor:hand; margin-right:4px;}
.jquery-safari-checkbox .mark{ margin-left:0px;display:inline;}
.jquery-safari-checkbox img{width: 14px;height: 14px;margin: 0;}
.jquery-safari-checkbox img{background:transparent url(Images/safari-checkbox.png) no-repeat;}
.jquery-safari-checkbox img{background-position:0px 0px;}
.jquery-safari-checkbox-hover img{background-position:-16px 0px;}
.jquery-safari-checkbox-checked img{background-position:0px -16px;}
.jquery-safari-checkbox-checked .jquery-safari-checkbox-hover img{background-position:-16px -16px;}
.jquery-safari-checkbox-disabled img{background-position:0px -32px;cursor:not-allowed;}
.jquery-safari-checkbox-checked .jquery-safari-checkbox-disabled img{background-position:0px -48px;cursor:not-allowed;}
.jquery-checkbox{display:inline;font-size:16px;cursor:pointer;cursor:hand;}
.jquery-checkbox .mark{ margin-left:0px;display:inline;}
.jquery-checkbox img{vertical-align:middle;width:16px;height:16px;}
.jquery-checkbox img{background:transparent url(Images/checkbox.png) no-repeat;}
.jquery-checkbox img{background-position:-13px -13px;}
.jquery-checkbox-hover img{background-position:-39px -13px;}
.jquery-checkbox-checked img{background-position:-13px -39px;}
.jquery-checkbox-checked .jquery-checkbox-hover img{background-position:-39px -39px;}
.jquery-checkbox-disabled img{background-position:-39px -65px;}
.jquery-checkbox-checked .jquery-checkbox-disabled img{background-position:-13px -65px;cursor:not-allowed;}


/* Layout helpers
 ----------------------------------*/
.ui-dialog .ui-dialog-titlebar-max { position: absolute; right: 1.7em; top: 50%; width: 19px; margin: -10px 7px 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-max span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-max:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-icon-maxthick { background-position: -32px -80px; }
.ui-icon-resizethick { background-position: -46px -80px; }

/*.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
.ui-corner-all {}
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background:#000;opacity:0.6; filter:Alpha(Opacity=60) }
.ui-dialog {position: absolute;padding: 0em;overflow: hidden;overflow:hidden;width:auto;}
.ui-dialog .ui-dialog-titlebar { padding: 0px;}
.ui-dialog .ui-dialog-title { float: left; margin: 0px; display:none;} 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 1em; top: 1em; width: 20px; height: 20px; z-index:999999; background:url(Images/ico-close.png) no-repeat center top; text-decoration:none;}
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {background-position:center -20px;}
.ui-dialog .ui-dialog-content {position: relative;border: 0;margin:0.5em;overflow: auto;zoom: 1;border:solid 1px #CCCCCC;}
*/
/* Menu
----------------------------------*/
.menu-container {margin-right: auto;margin-left: auto;padding-top: 0px;padding-bottom: 0px;}
.navigation-bar {height:39px;background-image: url(Images/menubg.jpg);background-repeat: repeat-x;background-position: center center;line-height:39px;font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;padding-left:70px;position: relative;}
.navigation-left {float:left;margin-left: 50px;}
.sf-menu, .sf-menu *{padding:0;font-size: 13px;color: #c4f434;text-align: left;line-height: 39px;text-shadow: 1px 1px 0px #000000;margin: 0px;}
.sf-menu ul{position:absolute;top:-999em;-moz-border-radius:0px 0px 10px 10px;-webkit-border-radius:0px 0px 10px 10px;border-radius:0px 0px 10px 10px;visibility:hidden;}
.sf-menu li:hover{visibility:inherit; /* fixes IE7 'sticky bug' */}
.sf-menu li{float:left;position:relative;z-index:1000;}
.sf-menu li:hover ul, .sf-menu li.sfHover ul{left:0;top:34px; /* match top ul list item height */z-index:99;background-color:#4c4c4c; padding-bottom:10px; min-width:150px;}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul{left:10em; /* match ul width */top:0;}

.sf-menu a{line-height: 39px;display: block;text-decoration:none;padding-right: 20px;padding-left: 20px;}
.sf-menu li li{width: 100%;line-height: 30px;}
.sf-menu li li a{text-align: left;border-right: none;line-height: 30px;white-space: nowrap;}
.sf-menu li a:hover span, .sf-menu li.sfHover a span{color:#FFFFFF;line-height: 30px;}
.sf-menu li.sfHover a span{color:#FFFFFF;}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active, .sf-menu li.sfHover a, .sf-menu li.sfHover a:hover{outline:0;text-decoration: none;}
.sf-menu li li a:hover span{color:#c4f434;}
.sf-menu li li a span{white-space: nowrap}
.sf-menu li li:hover {background-color:#666666;transition-duration:0.2s;-webkit-transition-duration:0.2s;-moz-transition-duration:0.2s;}
.sf-sub-indicator {position:absolute;display:block;right:0em;top:1.05em; /* IE6 only */width:10px;height:10px;text-indent:-999em;overflow:hidden;background-image: url(Images/arrow.png);background-repeat: no-repeat;background-position: right center;}
.navigation-right {float:right;padding-right:15px;font-size:11px;color: #fff;line-height:39px;font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;background: url(Images/corner-r.jpg) no-repeat right top;}
.navigation-right a {color: #fff;text-decoration:none;display: inline-block;margin-right: 5px;margin-left: 5px;}
.navigation-right a:hover {text-decoration:underline;}

/*------------------Table - grid and Grid Filter -----------------------*/
tr.rowfilter td{background-color: #494949;/*by br*/ padding: 3px 5px 2px 5px;}
tr.rowfilter .ckbtd {min-width: 5px;}
tr.rowfilter .edittd {min-width: 12px; text-align: center;  color:#E5E5E5; text-shadow: 1px 1px 1px #000000;}
tr.rowfilter td div.GridFilterDiv {overflow: hidden; width: 100%;}
tr.rowfilter td select {width: 100%;color: #494949;/*by br*/border: 1px #A2A2A2 solid;/*by br*/ font-size: 14px;/*by br*/ border-spacing: 0; background: #E8E8E8;/*by br*/}
tr.rowfilter td .ui-dropdownchecklist{background-color: #E8E8E8;/*by br*/}

td.tablecmdhead, th.tablecmdhead{ padding: 0px !important; width: 25px;}

td.tablecmdhead, th.tablecmdhead.thCheck{ border-right-width:0;}
td.tablecmdhead, th.tablecmdhead.thAll{}
th.thAll, td.thAll{ padding-left: 0px !important; }

/* menuheadbutton
----------------------------------*/
#menuheadbutton {position:relative;width:94px;height:94px;background-image: url(Images/menuheadsprite.png);background-repeat: no-repeat;z-index: 150;cursor: pointer;}
#menuheadbutton.item1 {background-position:0px 0px;}
#menuheadbutton.item2 {background-position:0px -200px;}
#menuheadbutton.item3 {background-position:0px -400px;}
#menuheadbutton.item4 {background-position:0px -600px;}
#menuheadbutton.item5 {background-position:0px -800px;}
#menuheadbutton.item6 {background-position:0px -1000px;}
#menuheadbutton.item7 {background-position:0px -1200px;}
#menuheadbutton.item8 {background-position:0px -1400px;}
#menuheadbutton.item9 {background-position:0px -1600px;}
#menuheadbutton.item10 {background-position:0px -1800px;}

.submenu-container {position:relative;background-image: url(Images/submenu-bg.png);background-repeat: no-repeat;background-position: center top;display:none;height:394px;width:245px;z-index:100;margin-top: -15px;top: 0px;left: 0px;}
.icon-container {height:274px;position:relative;margin-left:18px;top:30px;}
.rowcontainer {}
.submenu-item {background-image:url(Images/submenusprite.png);margin-top: 10px;float:left;background-repeat: no-repeat;display: block;padding-top: 56px;color: #FFF;width: 53px;margin-right: 5px;font-size: 11px;text-align: center;background-position: -210px 0px;}
.submenu-item.item1 {background-position:0px 0px;}
.submenu-item.item2 {background-position:0px -105px;}
.submenu-item.item3 {background-position:0px -210px;}
.submenu-item.item4 {background-position:0px -314px;}
.submenu-item.item5 {background-position:0px -420px;}
.submenu-item.item6 {background-position:0px -525px;}
.submenu-item.item7 {background-position:0px -630px;}
.submenu-item.item8 {background-position:0px -734px;}
.submenu-item.item9 {background-position:0px -838px;}
.submenu-item.item10 {background-position:0px -944px;}
.submenu-item.item1:hover {background-position:-105px 0px;}
.submenu-item.item2:hover {background-position:-105px -105px;}
.submenu-item.item3:hover {background-position:-105px -210px;}
.submenu-item.item4:hover {background-position:-105px -314px;}
.submenu-item.item5:hover {background-position:-105px -420px;}
.submenu-item.item6:hover {background-position:-105px -525px;}
.submenu-item.item7:hover {background-position:-105px -630px;}
.submenu-item.item8:hover {background-position:-105px -734px;}
.submenu-item.item9:hover {background-position:-105px -838px;}
.submenu-item.item10:hover {background-position:-105px -944px;}

.datacontainer {overflow:auto;}
.backand-logo {position:relative;bottom:0;display:block;background-image: url(Images/backand-logo.png);background-repeat: no-repeat;background-position: center center;float: right;margin-top: 15px;width: 167px;height: 40px;margin-right: 15px;}
.zone {position: absolute;left: 0px;top: -30px;line-height: normal;}
.rotator {background: url(Images/rotator.png) no-repeat center center;height: 100%;width: 100%;position: absolute;left: 0px;top: 0px;right: 0px;bottom: 0px;}
.stam td, .stam th {border: 1px solid #CCCCCC;}
.slider {height: 39px;width: 5px;position: absolute;background: #FFFFFF;left:50px;}
.refer-bar {line-height: 25px;background: #696A6C;color: #E5E5E5;font-size: 14px;margin-left: 0px;padding-left: 138px;-moz-border-radius: 0 0 0 0px;-webkit-border-radius: 0 0 0 0px;border-radius: 0 0 0 0px;padding-bottom: 3px;}
.refer-bar a {display: inline-block;cursor: pointer;}
.refer-bar .sec {background: url(Images/arrow-right.png) no-repeat left center;padding-left: 10px;margin-left: 10px;}
.refer-bar a:hover {color: #c4f434;}
.refer-bar .settings {text-decoration: underline;float: right;margin-right: 15px;font-size: 12px;}

.table-menu {font-size: 13px;background: url(Images/bg-sprite.png) repeat-x left top;margin-top:4px;}
.table-menu .group-l {float:left;}
.table-menu .group-r {float:right; margin-right:10px;}
.table-menu .group-l a, .table-menu .group-r a {line-height: 35px;color: #868788;display: block;padding-right: 10px;padding-left: 26px;color: #868788;cursor: pointer;float: left;background: url(Images/bg-sprite.png) no-repeat right -90px;position:relative;}
.table-menu .group-r a{	padding-left: 10px;}
.table-menu .group-r a.search{background-color:#FFF; line-height:32px; margin-top:2px; cursor:default; padding-left: 10px;}
.table-menu .group-l a.disabled {color: #cdcbcb;cursor:default;}
.table-menu .group-l a .icon, .table-menu .group-r a .icon {background: url(Images/ui-sprite.png) no-repeat 20px 20px;display: block;position: absolute;width: 20px;height: 20px;left:3px;top:7px;}

.table-menu a .icon.new {background-position:0px 0px;}
.table-menu a .icon.duplicate {background-position:-20px 0px;}
.table-menu a .icon.delete {background-position:-40px 0px;}
.table-menu a .icon.edit-batch {background-position:-60px 0px;}
.table-menu a .icon.send {background-position:-80px 0px;}
.table-menu a .icon.refresh {background-position:-100px 0px;}
.table-menu a .icon.export {background-position:-80px 0px;}
.table-menu a .icon.import {background-position:0px 0px;}
.icon .jquery-safari-checkbox{ position:absolute;left:4px; top:3px;}


.table-menu a .icon.filter {background-position:-120px 0px;}
.table-menu a.filterButton {padding-right:30px;}
.table-menu a .icon.trigger {left:auto; right:4px;background-position:-80px -40px;}
.table-menu a.filterButton.filterClicked {background-position:0px -45px; background-repeat:repeat-x; color:#FFF;}
.table-menu a.filterButton.filterClicked .icon{background-position:-120px -20px;}
.table-menu a.filterButton.filterClicked .trigger{background-position:-120px -40px;}
.table-menu .group-r input.serch-field {width:125px;height:20px;margin-bottom: -3px;padding-right:20px}
.table-menu a.search .icon {background-position:-140px 0px; left:auto; right:7px; cursor:pointer;}

.table-menu a.disabled .icon.new {background-position:0px -20px;}
.table-menu a.disabled .icon.duplicate {background-position:-20px -20px;}
.table-menu a.disabled .icon.delete {background-position:-40px -20px;}
.table-menu a.disabled .icon.edit-batch {background-position:-60px -20px;}
.table-menu a.disabled .icon.send {background-position:-80px -20px;}
.table-menu a.disabled .icon.refresh {background-position:-100px -20px;}
.table-menu a.disabled .icon.export {background-position:-120px -20px;}
.table-menu a.disabled .icon.filter {background-position:-120px -20px;}
.table-menu .more-actions-container {position:relative; float:left;}
.table-menu .more-actions-container a.menu-trigger {padding-right:28px; padding-left:15px;}

.table-menu .group-l .more-actions {position: absolute; z-index:1; background: #F4F4F4;display: none;top:35px; right:3px; width:100%;-webkit-box-shadow:3px 3px 6px 0px rgba(102,102,102,0.2);-moz-box-shadow:3px 3px 6px 0px rgba(102,102,102,0.2);box-shadow:3px 3px 6px 0px rgba(102,102,102,0.2);}
.table-menu .group-l .more-actions li a {display:block;padding-right: 10px;padding-left: 10px;white-space:nowrap; float:none; background-image:none;}
.table-menu .group-l .more-actions li a:hover {background-color:#696A6C;color:#FFFFFF;}
.table-menu .group-l .more-actions ul {border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #E5E5E5;margin-top: 4px;margin-bottom: 4px;}
.table-menu .group-l .more-actions li a span.icon {display: none;}
/* Filter buttons
----------------------------------*/
.filter-buttons {
	background: #494949;
	padding: 3px;
}
.filter-buttons .button {
	border: 1px solid #7f7f7f;
	margin-right: 1px;
	background: url(Images/button-sprite.png) repeat-x center top;
	cursor: pointer;
	display: block;
	float: left;
	line-height: 25px;
	color: #aeaeae;
	font-size: 13px;
	padding-right: 8px;
	padding-left: 8px;
}
.filter-buttons .button:hover {background-position: center bottom;}

/* DataTableHeader
----------------------------------*/
.data-table-header{
	background: #494949;
}
.data-table-header th {position:relative; text-align:left; padding-left:4px; font-size:14px; line-height:35px; background:url(Images/bg-sprite.png) no-repeat right -90px;}
.data-table-header th.select{
	color: #aeaeae;
}

th.NotSortable
{
    color: #FFF ;
    font: Arial 14px ;
    font-weight: 100 ;
}

th A.Sortable, th SPAN.sortable
{
    color: #FFF ;
    font: Arial 14px ;
    font-weight: 100 ;
}

.filterOn
{
    color: #39A218 ;
    /*color: #FFF ;*/
    font: Arial 14px ;
    font-weight: bold ;
}


.selected td, .selected.hovered td
{
    background: #ffb626 url(images/selected-table-bg.jpg) repeat-x left top;
    border-bottom: 1px solid #ff8605;
}

.disabledCell
{
    color: #A0918C ;
    font: Arial 13px ;
}

.enabledCell
{
    color: #494949 ;
    font: Arial 13px ;
}


td.tablecmd a span.Edit-icon {background:url(Images/ui-sprite.png) no-repeat  -54px 0; display: block;width: 20px;height: 20px;left: 0px;top: 0px;float:none; margin: auto;}
td.tablecmd a span.Edit-icon:hover {background-position: -54px -99px;}
td.tablecmd a span.View-icon {background:url(Images/ui-sprite.png) no-repeat -60px -20px; display: block;width: 20px;height: 20px;left: 0px;top: 0px;float:none; margin: auto;}

tr.data-row{background-color:#FFF !important; border-bottom:1px #e4e4e4 !important;}
tr.data-row.d_alt_row{background-color:#e4e4e4 !important; border-bottom:1px #b2b2b2 !important;}

/*--------------------Group and sort filter ---------*/
.groupFilter{background-color: #494949}
.groupFilter_label{color:#FFF}
.groupFilter table{border-bottom:1px solid #ff8605;}
span.icon_sort_Asc {background: url(Images/ui-sprite.png) no-repeat  -185px -45px; display: inline-block; width: 10px;height: 10px;left: 0px;top: 0px;}
span.icon_sort_Desc {background: url(Images/ui-sprite.png) no-repeat  -165px -45px; display: inline-block; width: 10px;height: 10px;left: 0px;top: 0px;}
a.sort_command{color:#ff8605; text-decoration:underline}
.group-sorting .header{color: #FFF; font-weight: normal;}
.group-sorting {color: #FFF;}
.group-sorting a {color: #FFF;}
.advancedFilterDialog {background-color:white;}

.tree_filter_selectedValues, .group-sorting{background-color: #494949;}
.ui-dropdownchecklist .ui-dropdownchecklist-selector{background:#fff; color: #000;/*by miri*/ height:20px;border:1px solid rgb(204,204,204);}

/*-------------View settings styles---------------*/
/*  WIXWIX html.dark-bg, body.dark-bg, iframe.dark-bg, #AppFilterTreeDiv.dark-bg {background: rgb(90, 90, 90) !important;}*/
.loading {position:absolute; left:50%; top:50%; text-align: center; margin-left:-60px; z-index: 20000000;}
#progress .loading {position:absolute; left:50%; top:35%; text-align: center; margin-left:-30px; z-index: 20000000;}
.loading>div {color: White; margin-bottom: 5px; text-shadow: 2px 2px 1px black; font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; font-size: 13px;}

/*------------------Dashboard Style ---------------------*/
.gridboard{}
div.gridboard div.boardrow{float: left;width: 300px;margin: 6px;padding: 3px;border: 1px #dbddff solid;overflow: hidden;-moz-border-radius: 0px;-webkit-border-radius: 0px;-khtml-border-radius: 0px;border-radius: 0px;}
.boardtitle {
	border: none;
	background: #696A6C url(images/ui-bg_flat_85_696A6C_40x100.png) 50% 50% repeat-x;
	color: #E5E5E5;
	font-weight: normal;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0;
	padding: 3px 30px 3px 6px;
	cursor: pointer;
	position: relative;
	top: 0;
	left: 0;
}
.boardselected{
	color: #222222;/*by br*/
	background: #C3C3C3;
}
div.gridboard table{width: 100%; border-spacing:1px;}
div.gridboard td {width: 50%; white-space: normal !important;}
div.boardtitle > span{position: absolute;top: 4px;right: 4px;}

.overlay > div:first-child { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; filter: alpha(opacity=60); -moz-opacity: 0.6; -khtml-opacity: 0.6; opacity: 0.6; z-index: 10000000;}

#topRight .sf-menu, #topRight .sf-menu * 
{
    font-size:11px;color:White;
}
#topRight .sf-menu a {padding-right: 0;}
#topRight .sf-menu a.sf-with-ul {padding-right: 10px;}
#topRight .sf-menu select {color: black; text-shadow: none;}
#topRight .sf-menu select option {color: black; text-shadow: none;}

/*****/

div.table-menu {margin-top:0;}
/*#mainAppFrame{margin-top:-1px;}*/

#topRight li:first-child a.sf-with-ul{border-right:none;}

#topRight {display:inline-block;}
#topRight .sf-menu, #topRight .sf-menu * {color: -webkit-link ;text-shadow:inherit;font-size: 14px;}

#topRight  a {line-height: 30px; padding: 0 0 0 4px;}

#topRight  .sf-sub-indicator {top: 0.8em;}

#topRight   ul {top: 30px;}


.workspaceMenu{
background-image: none;
background-repeat: repeat-x;
background-position: center center;
line-height: 39px;
font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
padding-left: 70px;
position: relative;
margin-left: 400px;
padding-top: 20px;
padding-left: 0;
/*height: 60px;*/}

.sf-menu, .sf-menu *{color:#4c4c4c; text-shadow: none; text-decoration: none; font-size:16px;}
.sf-menu>li:hover>a{color:#f26522; }

#topRight .sf-menu, #topRight .sf-menu * {color:#4c4c4c}

.refer-bar{margin-left:0; }
.refer-bar div:last-child{display: inline-block; position: fixed; right: 0px;}
.table-menu {float:left; width:100%;}

.workspaceMenu li.selected2 > a {
				color: #f26522;
				font-weight: bold;
			}
			
.sf-menu li:hover ul, .sf-menu li.sfHover ul{background-color:rgb(241, 241, 241);border-top:1px solid rgb(204,204,204); -webkit-border-radius: 0; border-radius: 0;}
.sf-menu li:hover ul li, .sf-menu li.sfHover ul li {background-color:rgb(241, 241, 241);border:1px solid rgb(204,204,204); border-top:none; }
.sf-menu li.sfHover a span{color:White;}
.sf-menu li.sfHover ul li:hover, .sf-menu li.sfHover ul li:hover {background-color:rgba(243, 101, 35, 1)}
#topRight .sf-menu li ul li:hover, #topRight .sf-menu li.sfHover ul li:hover  {background-color:rgba(243, 101, 35, 1)}
#topRight .sf-menu li ul li, #topRight .sf-menu li.sfHover ul li  {background-color:rgba(243, 184, 88, 1); border:none; border-top:1px solid white;}
#topRight .sf-menu li li:hover a, .sf-menu li li a:hover {color:White;}
#topRight .sf-menu li ul li:first-child, #topRight .sf-menu li.sfHover ul li:first-child  {border:none; }
#topRight .sf-menu li:hover ul, #topRight .sf-menu li.sfHover ul{border:none;}




.sf-menu li:hover ul, .sf-menu li.sfHover ul{padding-bottom:0;}

#mainAppDiv{position:relative; overflow:hidden;border-left: 1px solid rgb(204, 204, 204);}

#sideMenu ul {padding:0;}



/** filter  **/

.table-menu .group-l a, .table-menu .group-r a{background:none;padding-left:36px;}
.table-menu .group-l a .icon{left:13px;}
.table-menu .group-r a:hover{color:#f26522;}

.table-menu a.filterButton.filterClicked{color:#868788;}

.filterOn{color:#f26522 !Important;}


.table-menu a .icon.apply-filter {
    background-position: -164px 0;
}

.table-menu a .icon.clear-filter {
    background-position: -140px 0;
}

.table-menu a.filterClicked .icon.apply-filter {
    background-position: -164px -22px;
}

.table-menu a.filterClicked .icon.clear-filter {
    background-position: -140px -22px;
}

.table-menu a.filterClicked:hover .icon.apply-filter {
    background-position: -164px -99px;
}

.table-menu a.filterClicked:hover .icon.clear-filter {
    background-position: -140px -99px;
}

.table-menu a.filterButton{padding-right: 0;}

.table-menu .group-l a.apply-filter-a{padding-left: 0;}

.table-menu .group-l a span.apply-filter{left:-25px;}

.table-menu .group-l a.clear-filter-a{padding-right: 0; padding-left:0;}

.table-menu .group-l a span.clear-filter{left:-20px;}

/*** toolbar ****/

.contextMenu LI A .icon{ background-image: url(images/ui-sprite.png); display: block;position: absolute;width: 20px;height: 20px;left: 0;}
.contextMenu LI.edit A .icon{ background-position: -50px 0px;  width:25px;}
.contextMenu LI.cut A { background-image: url(images/cut.png); }
.contextMenu LI.copy A { background-image: url(images/page_white_copy.png); }
.contextMenu LI.paste A { background-image: url(images/page_white_paste.png); }
.contextMenu LI.copy A .icon{ background-image: none; }
.contextMenu LI.paste A .icon{ background-image: none; }
.contextMenu LI.delete A .icon{ background-position: -75px 0px; }
.contextMenu LI.quit A { background-image: url(images/door.png); }
.contextMenu LI.add A .icon{ background-position: 0 0; }
.contextMenu LI.duplicate A .icon{ background-position: -20px 0px; width:30px;}
.contextMenu LI.insert A .icon{ background-position: -20px 0px; }
.contextMenu LI.send A .icon{ background-position: -95px 0px; width:25px;}
.contextMenu LI.complete A { background-image: url(images/promote.png); }
.contextMenu LI.history A { background-image: url(images/history.png); }

.contextMenu LI.edit A:hover .icon{ background-position: -50px -99px;  width:25px;}
.contextMenu LI.delete A:hover .icon{ background-position: -75px -99px; }
.contextMenu LI.add A:hover .icon{ background-position: 0 -99px; }
.contextMenu LI.duplicate A:hover .icon{ background-position: -20px -99px; width:30px;}
.contextMenu LI.send A:hover .icon{ background-position: -95px -99px; width:25px;}


.table-menu a .icon.new {background-position:0px 0px; }
.table-menu a .icon.duplicate {background-position:-20px 0px; width: 30px; left: 5px;}
.table-menu a .icon.delete {background-position:-75px 0px; }
.table-menu a .icon.edit-batch {background-position:-50px 0px;width: 25px; left: 10px;}
.table-menu a .icon.send {background-position:-95px 0px;width: 25px; left: 10px;}
.table-menu a .icon.refresh {background-position:-180px 0px;}
.table-menu a .icon.export {background: url(Images/ui-sprite_old.png) no-repeat 20px 20px; background-position:-80px 0px;}
.table-menu a .icon.import {background: url(Images/ui-sprite_old.png) no-repeat 20px 20px; background-position:0px 0px;}

.table-menu a:hover .icon.new {background-position:0px -99px; }
.table-menu a:hover .icon.duplicate {background-position:-20px -99px; width: 30px; left: 5px;}
.table-menu a:hover .icon.delete {background-position:-75px -99px; }
.table-menu a:hover .icon.edit-batch {background-position:-50px -99px;width: 25px; left: 10px;}
.table-menu a:hover .icon.send {background-position:-95px -99px;width: 25px; left: 10px;}
.table-menu a:hover .icon.refresh {background-position:-180px -99px;}

.table-menu .group-l a:hover{color:#f26522;}
.table-menu .group-l a.filterButton:hover {color:#f26522;}


.table-menu a .icon.filter {background-position:-120px 0px;}
.table-menu a.filterButton {padding-right:30px;}
.table-menu a .icon.trigger {left:auto; right:4px;background-position:-80px -40px;}
.table-menu a.filterButton .icon{background-position:-120px 0px;}
.table-menu a.filterButton.filterClicked .icon{background-position:-120px -100px;}
/*.table-menu a.filterButton.filterOn .icon{background-position:-120px -100px;}*/
.table-menu .group-r input.serch-field {width:125px;height:20px;margin-bottom: -3px;padding-right:20px}
.table-menu a.search .icon {background: url(Images/ui-sprite.png) no-repeat -205px 0px; left:auto; right:7px; cursor:pointer;}
.table-menu a.search .icon:hover {background-position: -205px -99px;}
 
.table-menu a.disabled .icon.new {background-position:0px -20px; }
.table-menu a.disabled .icon.duplicate {background-position:-20px -20px; width: 30px; left: 5px;}
.table-menu a.disabled .icon.delete {background-position:-75px -20px; }
.table-menu a.disabled .icon.edit-batch {background-position:-50px -20px;width: 25px; left: 10px;}
.table-menu a.disabled .icon.send {background-position:-95px -20px;width: 25px; left: 10px;}
.table-menu a.disabled .icon.refresh {background-position:-180px -20px;}
.table-menu a.disabled .icon.export {background: url(Images/ui-sprite_old.png) no-repeat 20px 20px; background-position:-120px -20px;}
.table-menu a.disabled .icon.filter {background-position:-120px -20px;}


#topRight .sf-menu li.sfHover ul#userPreview li:hover {  background-color: rgba(243, 184, 88, 1);}

#topMenu {
	background:#393a3d;
	padding:15px;
	color:white;
}

#topMenu #adminButtons a{
	color:white;
	font-size:16px;
}
a.durados-logo {
	background:url(images/gray/logo.png) no-repeat;
	width:103px;
	height:24px;
	top:15px;

}
#topRight {
	margin-top:-4px;
}

#topRight  .sf-menu a{
	color:#d7d7d7;
	padding:5px 15px; 

}
.body.template table.listview, table.gridview, table.gridviewhead, table.detailstable {
	font-family: "Source Sans Pro", arial, sans-serif;
}

#topRight .sf-menu a.sf-with-ul {
padding-right:30px;
}

#topRight li:not(:first-child) a {
	border-left:1px solid #6a6a6a;
}
#topRight  .sf-sub-indicator {
	top:16px;
	right:18px;
}
.main-content {
	padding-left:260px;
	background:#f6f6f6;
	overflow:hidden;
}
.main-content:after {
	content : "";
	clear:both;
	width:100%;
	float:left;
	display:block;
}
#sideMenu {
	position:absolute;
	left:0;
	top:131px;
	bottom:0px;

	background:url(images/menu-bg.jpg) no-repeat;


background: #485563; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
	background-size:100%;
}

#mainMenu {
	border:0;
	border-bottom:1px solid #ddd;
	box-shadow:0px 5px 15px rgba(0,0,0,0.1);
}
/* sidebar */

#sideMenu ul {
	background:none;

	width:100%;

}

#sideMenu li {
	background:none;
	height:auto;
	line-height:1;
	border-bottom:1px solid rgba(255,255,255,0.4);
}
#sideMenu li a {
	color:white !important;
	padding:20px;
	padding-left:20px;
	text-transform: capitalize;
}
#sideMenu li.selected3 {
	border:none;

	background-color:  rgba(0, 0, 0, 0.23);

}
#sideMenu li:first-child a:first-child {
	text-transform: uppercase;
	font-weight:bold;
	font-size:15px;
	padding-right:40px;
	width:100%;
}
#sideMenu li .collapse {
	background-color: none;
	position: absolute;
	top:19px;
	right:10px;
}
#sideMenu li:first-child div+div {
	display:none;
}


#mainAppDiv {
	margin:20px;
	padding:20px;
	padding-top:0;
	background:white;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
}


div.table-menu {
	background:none;
	    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
	
}
table.gridview {
	border:1px solid #ddd;
}
table.gridview thead {
	background:#eaeefd;

}
table.gridview td {
	    background: none;
	    	    padding: 7px 10px !important;


}
table.gridview th {
	    padding: 10px 10px !important;
    background: none;
   
}
.gridview th .thdiv, .gridviewhead th .thdiv {
	padding:0;
}
table.gridview tr:hover {
	background:#eaeefd;
}
table.gridview th {
	color: #1c2b36;
	 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
body.template th a:link, body.template th a:visited, body.template th a:hover{
	color: #1c2b36;
}


tr.data-row.d_alt_row {
    background-color: #f9f9f9 !important;
    border-bottom: 1px #d7d7d7 !important;

}
 .enabledCell  {
 	font-weight: normal;
 	color:#1c2b36;
 	font-size:15px;

 }
 .logo-title-container {
 float:left;
 display:block;
 }
#mainMenu .logo-container  {
	float:left;
	display:inline;
}

#mainMenu .logo-container a {
	padding:5px;
}
#mainMenu .logo-container img {
	vertical-align: middle;
}
 #mainMenu img {
 	margin:0;
 }

 #mainMenu > div.logo-title-container > div.title-container {
 	width:auto;
 	max-width:auto;
 }

 #mainMenu .title-container * {
 	font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
 	font-size:30px;
 	font-weight:bold;
 	color:black;
 	margin-top:10px;
 }