    body
    {
        font-family: Arial, Tahoma, sans-serif;
        font-size: 14px;
        background-position:center;
        background-repeat:no-repeat;
        color:#6a6a6d;
    }
    .outerFrame
    {
        border: solid 1px black;
        padding:20px;
    }
    .welcome
    {
        margin-top:58px;
        font-weight:bold;
        text-align:left;
        margin-left:60px;
        color:rgb(243,102,33);
    }
    .welcome img
    {
        width: 188px;
        height: 47px;
    }
    .version
    {
        font-size: 14px;
        font-weight:normal;
    }
    .quote
    {
        font-style:italic;
        font-size: 16px;
        margin-bottom:40px;
    }
    .instructions
    {
        font-style:normal;
    }
    div.username, div.password, div.remember
    {
        color: rgb(76, 76, 76);
        font-weight:bold;
        font-size:13px;
        text-align:left;
        margin-left:60px;
        margin-top:10px;
    }
  /*  #username
    {
        margin-left:61px;
    }
    #Logon_password
    {
        margin-left:64px;
    }
    div.remember
    {
        margin-left: 185px;
        margin-top: 25px;
    }
    #currentPassword
    {
        margin-left: 66px;
    }
    #newPassword
    {
        margin-left: 66px;
    }
    #Change_confirmPassword
    {
        margin-left: 13px;
    }
    */
    div.username input, div.password input
    {
        border-style:ridge;
        height:30px;
        width:220px;
        font-size:13px;    
    }
    
    .forgotPassword
    {
        text-align:left;
        margin-left:195px;
        margin-top:10px;
        
    }
    .forgotPassword a
    {
        color: rgb(27, 160, 133);
        font-size:1em;
    }


    .login
    {
        width:260px;
        margin-left: auto ;
        margin-right: auto ;
    }
    .durados a:link img,
    .durados a:visited img,
    .durados a:hover img
    {
        text-decoration: none;
        border:solid 0 black;
    }
    .durados td span
    {
        font-size:14px;
    }
    div.centerParent
    {
        background: url('images/panel-bg.jpg');
        background-position: 520px 1px;
        background-repeat: repeat-y;
        text-align:center;
        display:block;
        border: 1px solid #D4D4D4;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        position:absolute;
        width:700px;
        height:500px;
        top:50%; 
        left:50%;
        margin-top: -250px; /*set to a negative number 1/2 of your height*/
        margin-left: -350px; /*set to a negative number 1/2 of your width*/
    }    
    div.center
    {
        margin-left:auto;
        margin-right:auto;
        text-align:left;
        display:block;
    }   
    div.leftFloat
    {
        float:left;
    }
   
    div.errors
    {
    text-align: left;
    margin-left: 60px;
    margin-top: 10px;   
    }
   
    div.errors ul
    {
        margin-left:-40px;
    }
   
    div.footerParent
    {
        text-align: left;
        margin-left: 60px;
        top: 130px;
        float: left;
        color: #494949;
        font-size:13px;        
        display: block;
        position: absolute;
        top: 50%;
        margin-top:200px;        
    }
   
    .signInHeader
    {
        text-align:left;
        margin-top:22px;
        margin-left:60px;
        font-size:24px;
        color: rgb(76, 76, 76);
    }
    
    #btn_login
    {
        margin-left: 152px;
        margin-top: -22px;
        width: 80px;
    }
    #btn_reset
    {
        margin-left:277px;
        margin-top:20px;
        width: 140px;
    }
  
    #btn_changepassword
    {
        margin-left: 290px;
        margin-top: 15px;
        width: 160px;
    }
   
    .btn-green {
	        float: none;
    }
    .btn-green .inner {
	        display: block;
	        line-height: 28px;
	        text-decoration: none;
	        color: #fff;
	        padding: 0 15px;
	        background: rgba(27, 160, 133, 1);
	        font-size: 1em;
	        
    }
    .btn-green .inner:hover {
	        background-position: bottom left;
	        text-shadow: -1px -1px #000;
	        cursor:pointer;
    }
    
    .loginarrow
    {
        width: 122px;
        height: 69px;
        position: absolute;
        background: url('images/login-arrow.png');
        background-position: center center;
        background-repeat: no-repeat;
        left: 470px;
        top: 50px;
    }
    .newaccount
    {
        position:absolute;   
        left:550px;
        top:120px;
        color:#fff;
        font-size:20px;
        width: 100px;
        text-align: left;
    }
    
    .footershadow
    {
        background: url('images/login-shadow.png');
        background-position: center center;
        background-repeat: no-repeat;
        height:61px;
        width: 700px;
        display: block;
        position: absolute;
        top: 50%;
        margin-top:251px;
    }
    
    .instructions
    {
        text-align:left;
        margin-left:60px;
        margin-top:15px;
        margin-bottom: 20px;
    }
    
    .error
    {
   	    display: none;
	    color: #CC3333;
	    border: 1px solid #CC3333;
        position:relative;
        width:400px;
        left:75px;
        padding:20px;

    }
    
    legend
    {
        display:none;
    }
    
    div.registration
    {
        text-align:left;
        margin-left:51px;
    }
    
    div.registration fieldset div label
    {
        color: #494949;
        font-weight:bold;
        font-size:13px;
        text-align:left;
        margin-top:10px;    
    }

    div.registration fieldset div input,textarea
    {
        border-style:ridge;
        height:30px;
        width:220px;
        font-size:13px;  
        margin-top:8px; 
    }
    .Logon_token
    {
        margin-left:64px;
    }
    .username label,.password label,.token label
    {
        float: left;
        width: 100px;
        padding-top:10px;
    }
    .registration fieldset p label
    {
         float: left;
        width: 100px;
        padding-top:0;
    }
     .registration fieldset> input
    {
         float: left;
        margin-left: 100px;
        padding-top:0;
    }