
.welcome
{
    text-align: right;
    margin-right: 60px;
}

.signInHeader
{
    text-align: right;
    margin-right: 60px;
}


div.username, div.password, div.remember
{
    text-align: right; /*margin-right:60px;*/
}
#username
{
    /* margin-right:63px;*/
}
#Logon_password
{
    /*  margin-right: 94px;     }     div.remember     {        /* margin-right: 182px;*/
}
#currentPassword
{
    /* margin-right: 52px;*/
}
#newPassword
{
    /* margin-right: 66px;*/
}
#Change_confirmPassword
{
    /*  margin-right: 13px;*/
}

div.centerParent
{
    background-position: 0px 1px;
}

/* .forgotPassword
    {
        margin-left: 359px;
    }
   */
#btn_login
{
    margin-right: 152px;
}

#btn_changepassword
{
    margin-left: 250px;
}

#btn_reset
{
    margin-right: 198px;
}

div.footerParent
{
    text-align: right;
    margin-right: 60px;
    float: right;
}

.instructions
{
    text-align: right;
    margin-right: 60px;
}
.username label, .password label, .token label
{
    float: right;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    width: 100px;
}
.registration fieldset p label
{
    float: right;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
    width: 100px;
}

div.errors
{
    margin-left: 0;
    margin-right: 50px;
    margin-top: 10px;
    text-align: right;
}
.registration fieldset > input
{
    float: right;
    margin-right: 100px;
    padding-top: 0;
}
.forgotPassword a
{
    margin-left: 180px;
}
