    .signInHeader
    {
        text-align:right;
    }

    div.username, div.password, div.remember
    {
        text-align:right;
        float:right;
    }
    
    span.forgotPassword
    {
        clear: left;
        float: left;
    }
    
    div.footerParent
    {
        clear: left;
        text-align: right;
    }
    
    #btn_login
    {
        float:left;
    }
    
    .instructions
    {
        text-align:right;
    }
    
    
