@import 'style.css';

$green: #5cb85c;
$darkGreen: #218521;
$black: #1c2b36;

@font-face {
  font-family: 'backandadmin';
  src:  url('fonts/backandadmin.eot?4tp8rf');
  src:  url('fonts/backandadmin.eot?4tp8rf#iefix') format('embedded-opentype'),
    url('fonts/backandadmin.ttf?4tp8rf') format('truetype'),
    url('fonts/backandadmin.woff?4tp8rf') format('woff'),
    url('fonts/backandadmin.svg?4tp8rf#backandadmin') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'backandadmin' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@mixin  icon($icon) {
	font-family: 'backandadmin' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: $icon;

}

#topRight {
	
}

#adminButtons {
	li {
		height:50px;
		a {
			padding:15px 5px;
		}
	}
	#settings,#columns,
	#pages {
		background:none !important;
		vertical-align: middle;
		a:before {
				@include icon('\e913');
				font-size:22px;
				color:white;
				vertical-align: middle;
				display:inline-block;
				margin-right:10px;
		}
		a:hover {
			color:#f26724 !important;
			box-shadow:0px 3px 0px #f26724;
			&:before {
				color:#f26724;
			}
		}
	}

	#settings {
		a:before {
			content:'\e90a';
		}
	}
	#columns {
		a:before {
			content:'\e905';
		}
	}

}
.ui-widget{
select{
	padding: 12px;
    height: 41px;
}	
} 

/*
.table-menu {
	.group-l,
	.group-r {
		a {
			vertical-align: middle;
			padding-left:0;
			&:before{
				@include icon('\e914');
				font-size:22px;
				margin-right:10px;
				vertical-align: middle;
			}
			&[name=new]:before {content:'\e914';}
			&.duplicate-a:before {content:'\e920';}


			.icon {
				display:none;

				background:none;

				
			}
		}
	}
}
*/
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	color:white;
}


#mainMenu {
	clear:both;
}

.selected td, .selected.hovered td  {

}
.gridboard {
	.preview-container {
		border-right:1px solid #ddd;
		background:#f5f5f5;
		padding-right:20px;

		.boardtitle {
			font-weight:normal;
			padding:10px;
			padding-left:15px;

			&.boardselected {
				box-shadow:inset 5px 0px 0px $green;
				font-weight:bold;
			}
			&:hover {
				box-shadow:inset 5px 0px 0px $green;
			}
		}
	}
}

table.gridview > tbody > tr > td {
	padding:0 !important;
}

div.fixedViewPort tbody td div {
	white-space: normal;
	background:none;
}


#sideMenu  {
		li:first-child div+div {
			display:block;
			position: absolute;
		        top: 7px;
    			right: 10px;

		    span {
    		    background: url("images/collapse.png") 100% 50% no-repeat;
    		    width:20px;
    		    height:20px;

		    }
	}
}
#adminButtons  li {
	&.selected#pages,
	&.selected#settings,
	&.selected#columns	 {
		width:auto;
	}
}

.main-content.admin-open {
	padding-left:0
}
th a.Sortable, th span.sortable {
	color:$black;
}
body tr.gridviewhead {
	th {
		a:link,
		a:visited,
		a:hover {
			color:$black;
		}
		div {
			overflow:visible;
			width:auto;

			&.thdiv div.sortIcon-con {
			right:-18px;
			width:10px !important;
			top:4px;
		}
		}
		
	}
}



table.gridview th {
	    padding: 10px 10px !important;
	    padding-right:20px !important;
    background: none;
   
}
.page-pages,
.page-settings  {
	#sideMenu,
	#sideMenu2 {
		display:none !important;
	}
	.main-content {
		padding-left:0;
	}
}
.main-content.in-iframe {
	padding-left:0;
}
#topRight{
	padding: 12px 17px 0;
}
table.gridview tr:hover {
    background: #ffffff;
}
body.template tr {
    background: #fff;
}
.ui-dropdownchecklist .ui-dropdownchecklist-selector {
    background: #e8e8e8;
    color: #000;
    /* vertical-align: middle; */
    height: 24px;
    width: 99px !important;
    padding-top: 2px;
    border: 1px solid #A2A2A2;
}
.ui-widget select {
    padding: 5px;
    height: 41px;
}
.GridFilterDiv select {
    height: 23px !important;
}
.workspace{
	margin-top:5px !important;
background: #393a3d !important;
}
th.tablecmdhead.thCheck {
    padding-left: 1px !important;
}
div.fixedViewPort tbody td div {
    text-align: center;
}

table.gridview th {
    text-align: center !important;
}

#mainMenu .title-container * {
    margin-top: 20px;
}
body tr.gridviewhead th div.thdiv div.sortIcon-con {
    right: -5px;
}
#mainAppDiv .gridview th, #mainAppDiv .gridviewhead th, #mainAppDiv tr.gridviewhead td.ScrollPlace {
    text-align: center;
    background: #ffffff;
}


.centerParent {
    background: none !important;
    width: 405px !important;
    height: auto !important;
    margin: 0 auto !important;
    position: relative !important;
    padding: 20px;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    margin: 0 auto;
    background-color: #fff !important;
}
.username label {
    display: none;
}
.password label {
    display: none;
}
.welcome {
    display:none;
}
.validation-summary-valid span {
    font-size: 14px;
    color:#fff;
}
.signInHeader {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 22px;
}

.errors {
    text-align: center !important;
    margin-left: 0 !important;

}
div.username, div.password, div.remember {
    margin-left: 0px !important;
}

div.username input, div.password input {
    width: 86%;
    height: 60px !important;
    border: none;
    border-top: 1px solid #d4dce3;
    font-size:16px;
    padding-left:60px;
   }

div.errors ul {
    margin: 0;
    display:none;
}
.validation-summary-valid {
    border: 1px solid #fe4a00;
    background: #fe4a00;
    padding: 12px;
    display:none;
}
input#Logon_password {
    border-bottom: 1px solid #d4dce3;
    border-top:none !important;
}
.password {
    margin-top: 0 !important;
}
.forgotPassword {
    /* text-align: right; */
    margin-left: 0 !important;
    display: inline-block;
    float: right;
}
.forgotPassword a {
    color: #fe4a00;
    font-size: 12px;
}
#btn_login {
    margin-left: 0 !important;
    padding-top: 60px !important;
    width: 85% !important;
    text-align: center !important;
    margin: auto !important;
}
.btn-green .inner {
    display: block;
    line-height: 55px !important;
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
    background: rgb(254, 74, 0);
    font-size: 22px !important;
    font-weight: normal !important;
    border-radius: 50px;
}
label.rememberMe {
    font-size: 12px;
    color: #4c4c4c !important;
    font-weight: normal;
}



.footershadow {
    background: none !important;
}

.leftFloat {
    color: #fff;
    margin-top:30px;
}
#btn_reset {
    margin-left: 0 !important;
    width: 85% !important;
    margin: 0 auto !important;
    margin-top: 52px !important;
}
.instructions {
    color: #000;
    text-align:center !important;
    margin-left:0 !important;
}
.validation-summary-errors {
	 border: 1px solid #fe4a00;
    background: #fe4a00;
    padding: 12px;
    display:block;
    color:#fff;
}
.btn-green .inner:hover {
	text-shadow:none !important;
}
.username input#username {
    background: url(images/usericon.png);
    background-repeat: no-repeat;
    background-position: 10px;
    border-bottom: 1px solid #d4dce3;

}
.password input#Logon_password {
    background: url(images/lockicon.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

#btn_changepassword {
    margin-left: 0px !important;
    width: 85% !important;
    margin: 0 auto !important;
    margin-top: 40px !important;
    padding-bottom:10px;
}
div.password input {
	
	 background: url(images/lockicon.png);
    background-repeat: no-repeat;
    background-position: 10px;
    
}
.error {
    border: 1px solid #fe4a00;
    background: #fe4a00;
    padding: 12px;
    display: block;
    left: 0;
    width: 95%;
    position: inherit;
    text-align: center !important;
    color: #fff;
    margin-left: 0 !important;
}
.emailaddress input#emailaddress {
	    width: 86%;
    height: 60px !important;
    border: none;
   
    font-size: 16px;
 
    padding-left: 60px;
}
.emailaddress input#emailaddress {
	
	 background: url(images/mailicon.png);
    background-repeat: no-repeat;
    background-position: 10px;
}
.logonpassword input {
	width: 86%;
    height: 60px !important;
    border: none;
    font-size: 16px;
    padding-left: 60px;
    background: url(images/lockicon.png);
    background-repeat: no-repeat;
    background-position: 10px;
    border-top: 1px solid #d4dce3;
}
.resetpassworduser input {
	
	width: 86%;
    height: 60px !important;
    border: none;
    font-size: 16px;
    padding-left: 60px;
    background: url(images/lockicon.png);
    background-repeat: no-repeat;
    background-position: 10px;
    border-top: 1px solid #d4dce3;
     border-bottom: 1px solid #d4dce3;
}
.signup_button .inner {
    display: block;
    line-height: 60px !important;
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
    background: #fe4a00;
    font-size: 22px !important;
    font-weight: normal !important;
    border-radius: 50px;
}
.signup_button {
    margin-top: 40px !important;
    width: 85%;
    margin: 0 auto;
}
.username input {
    background: url(images/usericon.png);
    background-repeat: no-repeat;
    background-position: 10px;
}
.dragonicon {
    background: url(images/dragonimg.png);
    background-repeat: no-repeat;
    background-position: 10px;
    position: absolute;
    left: -183px;
    top: 16px;
    width: 225px;
    height: 100%;
}

.bgdragonimage {
    background: url(images/dragonimg2.png);
    background-repeat: no-repeat;
    background-position: 10px;
    position: absolute;
    top: -36px;
    left: -183px;
    width: 221px;
    height: 350px;
}
.changedragonimg {
    background: url(images/dragonimg.png);
    background-repeat: no-repeat;
    background-position: 10px;
    position: absolute;
    top: 95px;
    left: -183px;
    width: 225px;
    height: 350px;
}
.registerdrogon {
    background: url(images/dragonimg.png);
    background-repeat: no-repeat;
    background-position: 10px;
    position: absolute;
    top: 95px;
    left: -183px;
    width: 225px;
    height: 350px;
}

.logoimage {
    background: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: 10px;
    width: 100%;
    background-position: center;
    padding-top:120px;
   }
.password input#currentPassword {
border-top: 1px solid #d4dce3;
} 
input#Change_confirmPassword {
    border-bottom: 1px solid #d4dce3;
}
input#fullname {
    border-bottom: 1px solid #d4dce3;
}
input#reset_password {
    border-bottom: 1px solid #d4dce3;
}
.bodybgimg {
    background: url(images/bg_images.jpg);
    height: 800px !important;
    background-size:cover;
}
body {
	margin:0;
}
.add-page-left-content select.add-page-type {
    height: 250px;
}

.gridboard .preview-container .boardtitle {
    font-weight: normal;
    padding: 0;
    padding-left: 15px;
    text-align: left;
}
.gridboard .preview-container .boardtitle {
	font-weight:600;
	padding:10px;
	width:220px;
}
.Field .boardtitle{
	height:50px !important;
}
.ui-widget input, .ui-widget select, .ui-widget textarea{
	    max-width: 169px !important;
    width: 100% !important;
}
.fixedViewPort {
    height: auto !important;
}
td.ddlpageSize select {
	padding:0;
}
.headNavMenu {
	padding:0 !important;
}
#topRight a {
   
    padding: 15px 30px !important;
    display: block;
}
#topRight .sf-menu ul li a {
	line-height:10px;
}
td.rowViewLable {
    width: 1%!important;
}
td#thesections_d26_edit_sections_FK_root_sections_Parent select#sections_d26_edit_FK_root_sections_Parent {
    height: 29px;
}
table.gridview th {
    vertical-align: middle;
}
th.HtmlFieldType {
    word-break: break-word;
}

.boardrow .boardtitle {
    background: #f3b858 !important;
    color: rgb(74,74,74);
}
.space1 {
    background-position: -715px -8px;
}
.space1 a {
    color: #fff;
        background: #393a3d;
}
.sf-menu li li a span {
    color: #4c4c4c !important;
}
.BooleanFieldType span.checked {
    line-height: 40px;
}
.HtmlFieldType div {
    white-space: nowrap !important;
    width: 115px !important;
}

.workspace.space-selected0 {
    margin-top: 0 !important;
    background: #393a3d;
    padding: 20px;
     border-left: 1px solid #6a6a6a;
    height: 60px;
    margin-top: -15px !important;
    /* font-size: 14px; */
    /* border-right: 1px solid #6a6a6a; */
}

.workspace.space-selected0:hover {
    background: #428bcd;
}
.submenu {
	top:40px !important;
    border: none !important;
    left: 0;
}
.workspace span.w-icon {
	width:25px!important;
}
.ui-dropdownchecklist .ui-dropdownchecklist-selector {
	width:230px !important;
}
.submenu li {
    height: 43px;
    margin-top:20px;
}
.workspace-a.space1 a:hover {
	background:#666;
}
.sf-menu li a:hover span {
    color: #FFFFFF !important;
    line-height: 12px;
}
#adminButtons li {
	height:45px;
}

#topRight .sf-menu ul li:nth-child(4) {
    display: none;
}
.main-content {
    padding-left: 0px;
   
}
#sideMenu {
	z-index:999;
}
.left_paddd{
	padding-left:260px;
}
textarea.wtextarea {
    height: 45px;
    padding-top: 5px !important;
}
.advancedFilter {
	height:45px;
}
.jHtmlArea iframe {
    width: 100% !important;
}
.jHtmlArea {
    width: 100% !important;
}

.icon-info_outline {
content: "\e921";
}
.workspace {
    background: #393a3d !important;
}
th.ShortTextFieldType .thdiv {
    width: 95px !important;
}
.loading img {
    height: 100px;
    width: 100px;
}


.bodybgimg {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100% !important;
}

.centerParent {
  box-sizing: border-box;
  max-width: 445px !important;
  width: 100% !important;
  margin: 0;
}

form#loginform input {
  width: 100% !important;
  box-sizing: border-box;
}

form#loginform input#rememberMe {
  width: auto !important;
  margin: 1px 0 0 0;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable {
  left: 0px !important;
  right: 10px !important;
  top: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
  background: #5cb85c !important;
  color:#jkkk;
}

@media (max-width: 767px) {
  .bodybgimg {
    padding: 20px;
    position: static;
    height: 800px !important;
  }
  .footerParent {
    margin-left: 0 !important;
  }
  div#mainAppDiv {
    width: 100% !important;
  }
  #mainMenu > div.logo-title-container > div.title-container {
    display: none;
  }
  #mainMenu .navigation-left li a {
    font-size: 12px;
    font-weight: normal;
    padding: 12px 27px 12px 6px;
  }
  .navigation-left {
    margin: 0;
    width: 220px;
  }
  .workspace {
    width: 80px;
    margin-left: 10px;
  }
  .workspaceMenu {
    margin-left: 320px;
  }
  .customDialogBtn {
    width:130px !important;
}
textarea#conText {
    width: 100%;
}

.dragonicon {
    background:none !important;
}
.centerParent {
    box-sizing: border-box;
    max-width: 445px !important;
    width: 100% !important;
    margin: 0;
    text-align: center;
    display: block;
    border: 1px solid #D4D4D4;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    width: auto !important;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -350px;
}
#btn_login {
    border: none;
}

body {
    overflow-y: scroll;
}
div.username, div.password, div.remember {
    float:none;
}
#btn_login {
    float: none;
}
.remember {
    clear: none !important;
}
.forgotPassword {
    margin-top: 10px;
}
.changedragonimg {
    background: none;
}
#btn_changepassword {
    float: none;
}

.instructions {
    margin-bottom: 8px;
}
.username {
    font-size: 16px !important;
    text-align: center !important;
}
.btn-green {
    margin-left: 0 !important;
    width: 90% !important;
    box-sizing: border-box;
    margin: 25px auto !important;
     float:none;
    border: none;
}
.bgdragonimage {
    background:none;
}
#btn_reset {
    margin-left: 0 !important;
    width: 100% !important;
    margin: 95px 0px auto !important;
    float: none;
}
.registerdrogon {
    background:none;
}
div.password input {
    width: 100%;
    box-sizing: border-box;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
    margin: .5em .4em .5em 0 !important;
}

}

.gridPager-div {
  overflow-y: scroll;
  height: auto !important;
}

.customDialogBtn {
  height: 30px !important;
  line-height: 20px !important;
}
body.template.webkit {
    overflow-y: scroll !important;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable {
    left: 0;
    margin: 0 auto !important;
    right: 0;
    top:300px;
    
}
.boardtitle.portlet-header {
    color: #000;
    font-size: 14px;
}
.resetpassworduser input#username {
    width: 100%;
    box-sizing: border-box;
}

.username {
    text-align: center !important;
    font-size: 16px !important;
}
.btn-green {
    margin-left: 0 !important;
    width: 100% !important;
    box-sizing: border-box;
    margin: 25px auto !important;
     float:none;
    border: none;
}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
    margin: 0 10px;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable {
    left: 35% !important;
    top: 37% !important;
}
