/*-------------general---------------*/
.float { float: right;}
/*-------------end general---------------*/

/*-------------gridviewhead---------------*/
.gridviewhead th div, .rowfilter th div
{
    text-align: right;
}
.editTH {padding-right: 9px;}
/*-------------end gridviewhead---------------*/

/*-------------gridview---------------*/
td.tablecommand a, td.tablecommand span, td.tablecommand img, td.tablecommand input 
{
    float: right;
}

.gridPager {margin: 4px 70px 0 0;}
.resizehandler.dragged {border:0; border-left: 2px dotted #000; }
/*-------------gridview---------------*/

/*-------------ui-tabs---------------*/
.ui-tabs { direction: rtl; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs .ui-tabs-nav li.ui-state-default {float: right; }
.ui-tabs .ui-tabs-nav li a { float: right; }
/*-------------end ui-tabs---------------*/

/*-------------ui-dialog---------------*/
.ui-dialog .ui-dialog-titlebar { padding: .5em 1em .3em .3em;}
.ui-dialog .ui-dialog-title {direction: rtl;float: right;margin: 0.1em 0 0.2em 16px}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: left; }
.ui-dialog .ui-dialog-buttonpane { text-align: right;padding: .3em .4em .5em 1em; }

.ui-dialog .ui-dialog-titlebar-close, .ui-dialog a.ui-dialog-titlebar-max, .ui-dialog a.ui-dialog-titlebar-dock{ 
position: relative;float: left;top: 0.6em;left: 0;right:auto;
    }
/*-------------end ui-dialog---------------*/

/*-------------arrows---------------*/
.contextmenudownarrow{
left: 7px;right: auto;
}

.rightarrowclass{
left: 5px;right:auto;
}

.ddsmoothmenu ul li{
float: right;text-align: right;display: inline;
}
.ddsmoothmenu ul li a{
border-right: none;
border-left: 1px solid #778;
}

.downarrowclass {
left: 7px;right: auto;
}
/*-------------end arrows---------------*/

/*-------------subgrid---------------*/
td.tablecmdsubgrid .ui-icon {
margin-left: 4px;
margin-right: 0;
}

div.subgridControl {
float: left;
border-left:0;
right: 1px;
left:0;
border-right: 1px #F60 solid;
-moz-border-bottom-right-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
-khtml-border-bottom-right-radius: 8px;
border-bottom-right-radius: 8px;
}
/*-------------end subgrid---------------*/

/*-------------logo---------------*/
div.compheader { position: relative;top:0;right: 0; }
.complogo img {margin-right: 140px;margin-left:0;}

table.complogo {direction: rtl;}

a.durados-logo {right: 0;margin-left: 15px;}
/*-------------end logo---------------*/

/*-------------zone---------------*/
.submenu-container {background-image: url(img/submenu-bg-l.png);right: 0px;left: auto;pointer-events:all}
.icon-container {margin-right:18px;}
.submenu-item {float:right;margin-left: 5px;background-position: -210px 0px;}
.submenu-item.item1 {background-position:0px 0px;}
.submenu-item.item2 {background-position:0px -105px;}
.submenu-item.item3 {background-position:0px -210px;}
.submenu-item.item4 {background-position:0px -314px;}
.submenu-item.item5 {background-position:0px -420px;}
.submenu-item.item6 {background-position:0px -525px;}
.submenu-item.item7 {background-position:0px -630px;}
.submenu-item.item8 {background-position:0px -734px;}
.submenu-item.item9 {background-position:0px -838px;}
.submenu-item.item10 {background-position:0px -944px;}
.submenu-item.item1:hover {background-position:-105px 0px;}
.submenu-item.item2:hover {background-position:-105px -105px;}
.submenu-item.item3:hover {background-position:-105px -210px;}
.submenu-item.item4:hover {background-position:-105px -314px;}
.submenu-item.item5:hover {background-position:-105px -420px;}
.submenu-item.item6:hover {background-position:-105px -525px;}
.submenu-item.item7:hover {background-position:-105px -630px;}
.submenu-item.item8:hover {background-position:-105px -734px;}
.submenu-item.item9:hover {background-position:-105px -838px;}
.submenu-item.item10:hover {background-position:-105px -944px;}

.zone {position: absolute;right: 0px;width:400px;pointer-events:none}
.rotator {right: 0px;pointer-events:all}
.slider {right:50px;}
/*-------------end zone---------------*/

/*-------------refer-bar---------------*/
.refer-bar {padding-right: 138px; padding-left: 0px; margin-left:0;-moz-border-radius:0px 0px 4px 0px;-webkit-border-radius:0px 0px 4px 0px;border-radius:0px 0px 4px 0px;}

.desc-icon.grid{background:url(Images/ui-sprite.png) no-repeat 0px -40px; float:right; margin-top: 2px; margin-right: 0px; margin-left: 5px; cursor:pointer;}
/*.refer-bar {margin-right: 140px;padding-right: 10px;margin-left:0;-moz-border-radius:0px 0px 4px 0px;-webkit-border-radius:0px 0px 4px 0px;border-radius:0px 0px 4px 0px;}*/
.refer-bar .sec {background: url(img/arrow-left.png) no-repeat right center;padding-right: 10px;margin-right: 10px;}
.refer-bar .settings {float: left;margin-left: 15px}
.refer-bar-nomargin{margin-right:2px;}
/*-------------end refer-bar---------------*/

/*-------------gridview---------------*/
.tablecmdhead.thCheck .thdiv {text-align: center;}
.gridview th .thdiv {margin-right: 0px; margin-left: 10px;}
.gridview th.tablecmdhead .thdiv {margin-right: 0px; margin-left: 0px;}
table.gridview th span.desc-icon { left: 0px; right:auto;}
table.gridview th div .col-header {float:right; text-align:right;}
.gridPager-div .totalRows
{ float:left; margin-right: 0px; margin-left: 10px;}
td.tablecmdhead, th.tablecmdhead.thCheck{ border-right-width:1;}
td.tablecmdhead, th.tablecmdhead.thAll{border-right-width:0}

table.gridview th div span.desc-icon {float:left}
table.gridview th div .col-header {float:right}
div div span.desc-icon{float:right}
/*-------------End gridview---------------*/

/*-------------Table Menu---------------*/
.table-menu .group-l {float: right;}
.table-menu .group-r {float: left;}
.table-menu .group-l a, .table-menu .group-r a {padding-right: 26px; padding-left: 10px; float: right;}
.table-menu .group-l a.duplicate-a, .table-menu .group-r a.duplicate-a {padding-right:30px;}
.table-menu .group-l .apply-filter-a {left:30px;}
.table-menu .group-l .clear-filter-a {left:35px;}

.table-menu .group-l a .icon, .table-menu .group-r a .icon {left:inherit; right: 3px;}
.icon .jquery-safari-checkbox{ left:inherit; right:4px;}
.table-menu a.filterButton {  padding-left: 30px;}
.table-menu a .icon.trigger { left:90px; right:inherit;}
.table-menu a.search .icon { left:7px; right:inherit;}
.table-menu .more-actions-container { float: right;}
.table-menu a.menu-trigger { padding-right:10px; padding-left:28px;}
.table-menu .group-l .more-actions { right: inherit; left: 3px}
.table-menu .group-r a{ padding-right:10px; }
.table-menu .group-r input.serch-field {padding-right:0px; padding-left: 20px;}

.table-menu-nomargin {margin-right:2px; margin-left: 0px;}

.subGridData .table-menu {margin-right: 24px; margin-left: 0px;}
.childrenViewer .table-menu {margin-right: 12px; margin-left: 0px;}
.ui-tabs-panel .table-menu {margin-right: 12px; margin-left: 0px;}
/*-------------End Table Menu---------------*/

/*-------------Filter buttons---------------*/
.filter-buttons .button {
	margin-left: 1px;
	margin-right: auto;
	float: right;
}
/*-------------End Filter buttons---------------*/

/*-------------Menu---------------*/

.navigation-bar {padding-left: inherit; padding-right: 70px;}
/*admin drop menu fix*/
.navigation-left {float:right; margin-left: inherit; margin-right: 50px;}
.sf-menu, .sf-menu *{ text-align: right;}
.sf-menu li{ float:right;}

.sf-menu li:hover ul, .sf-menu li.sfHover ul{right:0; left: auto; }/**/
#topRight .sf-menu li:first-child:hover ul, #topRight .sf-menu li.sfHover:first-child ul{right:auto; left: 0; }/**/

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul{left:inherit; right: 10em;}

.sf-menu li li a{ text-align: right;}
.sf-sub-indicator { left: 0em; right: inherit;}
.navigation-right {float:left; padding-left: 15px; padding-right:inherit; background: url(Images/corner-l.jpg) no-repeat left top;}

/*-------------End Menu---------------*/

/*-------------Not in use---------------*/
/*.MsoNormalTable {margin-right:0 !important}
.gridviewhead TH {white-space: nowrap}*/
/*-------------End Not in use---------------*/

/*-------------Layout---------------*/
#AppFilterTreeDiv.filter_tree_with_margin {
 margin: 0 200px 0 0;
}

#mainAppDiv.main_app_1_tree {
 margin: 0 200px 0 0;
}
#mainAppDiv.main_app_2_tree {
 margin: 0 400px 0 0;
}

div#TreeInnerDiv, div#FilterTreeInnerDiv, div#JsTree
{
    position: relative;
    left: auto;
    right: 0;
}

#TreeSplitterBar , #FilterTreeSplitterBar
{
    right: auto;
    left: 0;
}
/*-------------End Layout---------------*/

/*-------------groupFilter---------------*/
.groupFilter_label {margin-left: 10px;}
.groupFilter_applyClear {padding-right: 3px;}
/*-------------end groupFilter---------------*/

/*-------------groupSort---------------*/
.group-sorting div {margin-left: 0px; margin-right: 80px;}
.group-sorting div > div {float: right;}
/*-------------end groupSort---------------*/

/*-------------treeFilter on left side---------------*/
.tree_filter .refer-bar {margin-right: 0px;}
.tree_filter .tree-filter-values {margin-right: 5px;}
/*-------------end treeFilter on left side---------------*/

/*-------------treeFilter selected values---------------*/
.tree_filter_selectedValues .header{ margin-left: 10px;}
/*-------------end treeFilter selected values---------------*/

/*-------------preview display---------------*/
.preview-container { float: right;}
.preview-edit-container{margin: 0px 150px 0px 0px;}
/*-------------end preview display---------------*/

/*-------------image styles---------------*/
a span.img.pagerFirstPage{background-position: -65px -60px; }
a span.img.pagerPrevPage{background-position: -40px -60px; }
a span.img.pagerNextPage{background-position: -22px -60px; }
a span.img.pagerLastPage{background-position: -3px -60px; }

a span.img.disabled.pagerFirstPage{background-position: -65px -80px; }
a span.img.disabled.pagerPrevPage{background-position: -40px -80px; }
a span.img.disabled.pagerNextPage{background-position: -22px -80px; }
a span.img.disabled.pagerLastPage{background-position: -3px -80px; }
/*-------------end image styles---------------*/

/*-------------accordion---------------*/
.ui-state-default .ui-icon { float:right;  }
.ui-icon-triangle-1-e { background-position: -96px -16px; }
.ui-state-default .ui-accordion-header-open{float:left;}
/*-------------end accordion---------------*/

/*-------------dashboard display---------------*/
div.gridboard div.boardrow{float: right;}
.boardtitle { padding: 3px 6px 3px 30px;}
div.boardtitle span{ right: auto; left: 4px;}
/*-------------end dashboard display---------------*/

/*-------------dropdownchecklist display---------------*/
.ui-dropdownchecklist { text-align: right !important;}
/*-------------end dropdownchecklist display---------------*/

/*-------------advancedFilterDialog---------------*/
.advancedFilterDialog .advancedFilterDialog-buttons {float: left;}
.advancedFilterDialog .dateContainer img{left: 0px; right: auto; }
/*-------------end advancedFilterDialog---------------*/

/*-------------anythingSlider---------------*/
.anythingSlider-default .back { left: auto; right: 0 }
.anythingSlider-default .back a { background-position: -35px -1px; }
.anythingSlider-default .back a:hover,
.anythingSlider-default .back a.hover { background-position: -35px -1px; }
.anythingSlider-default .forward { right: auto; left: 0}
.anythingSlider-default .forward a { background-position: -98px -1px; }
.anythingSlider-default .forward a:hover,
.anythingSlider-default .forward a.hover { background-position: -98px -1px; }
/*-------------end anythingSlider---------------*/
.my-consoles{left:170px; right: inherit;}


/*Wisam Code ---------------------------------------------------------------------------*/

/*Side Menu*/
#sideMenu {
float: right;
height: 100%;
width: 260px;
}
#sideMenu li .collapse {
background: #f1f1f1 url("images/expand.png") 100% 50% no-repeat;
}

#sideMenu2 {
background: url("images/collapse.png") 10px 23px no-repeat;/*TODO Change the image to left side arrow*/
cursor: pointer;
display: none;
float: right;
margin-left: 8px;
left: 21px;
position: absolute;
}

#sideMenu2b p
{
    -webkit-transform: rotate(270deg);
}

/*Header Menu*/

#adminButtons 
{
	/*NEEDS TO FLIP <LI> ORDER*/
float: right;
margin-right: 128px;
font-size: 14px;
width: 420px;
overflow: hidden;
}

/* admin menu fix*/
#adminButtons li {float: right;padding-right: 35px;padding-left:0; text-align: center;}

#adminButtons li#pages {background: url("images/admin-sprite.png") 30px -24px no-repeat;}
#adminButtons li:hover#pages{background: url("images/pages-rtl.png") no-repeat;}
#adminButtons li.selected#pages {background: url("images/pages-rtl.png") no-repeat;}

#adminButtons li#settings {background: url("images/admin-sprite.png") 40px -72px no-repeat;width:82px;}
#adminButtons li:hover#settings{background: url("images/settings-rtl.png") no-repeat;width:82px;}
#adminButtons li.selected#settings {background: url("images/settings-rtl.png") no-repeat;width:82px;}

#adminButtons li#columns {background: url("images/admin-sprite.png") 50px -120px no-repeat;}
#adminButtons li:hover#columns{background: url("images/columns-rtl.png") no-repeat;}
#adminButtons li.selected#columns {background: url("images/columns-rtl.png") no-repeat;}


.workspace {
color: #fff;
cursor: pointer;
float: right;
font-size: 12px;
font-weight: bold;
height: 20px;
line-height: 20px;
margin-right: 60px;
margin-top: 10px;
position: relative;
text-align: center;
width: 120px;
}

#topRight 
{
direction:rtl;
overflow: inherit !important; /*FIXES THE Display bug*/
float: left;
}


.sf-sub-indicator {
position:inherit;
display: inline-block;
left: 0em;
top: 1.05em;
width: 10px;
height: 10px;
text-indent: -999em;
overflow: hidden;
background-image: url(Images/arrow.png);
background-repeat: no-repeat;
background-position: left;
padding-left:2px;
}


#mainMenu img {
float: right;
margin-left: 0;
margin-top: 11px;
margin-right: 32px;
}

/*please put this code after <nav id="topRight"></nav> */
/*<div style="clear:both"></div>*/

#mainMenu .logo-container,.title-container{float:right;}
.title-container * {margin-left: 0;
margin-right: 18px;}

.workspaceMenu{margin-left:0; margin-right:400px;/*overflow:hidden;/*fix resolution*/}

div.pages-manager {float:right;}

/*Wisam

.dd-item{direction:rtl;}
.dd3-handle{ right:0px;margin-right:5px;}
.dd3-handle:before {right:0px;}
.page-type {
background: url(Images/page-type-sprite.png) no-repeat 0px -40px;
height: 20px;
width: 20px;
float: right;
cursor: default;
margin-right: 46px;
}

.dd-placeholder {margin-left:0px;}*/
#mainMenu>div.logo-title-container>div.title-container{float:right;}