/** Minimal stand-alone css for dropdownchecklist support
    We highly recommend using JQuery ThemeRoller instead  
*/
.ui-dropdownchecklist 
{
    color: #666;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 1em;    
    line-height: normal;
}
.ui-dropdownchecklist-selector {
	height: 16px;
	border: 1px solid #ddd;
	background: White;
	padding: 1px 1px 1px 1px;
}
.ui-state-hover, .ui-state-active {
	border-color: #5794bf;
}
.ui-dropdownchecklist-text {
	line-height: 16px;
}
.ui-dropdownchecklist-dropcontainer {
	background-color: white;
	border: 1px solid #999;
	overflow:hidden;
}
.ui-dropdownchecklist-item 
{
    
}
.ui-state-hover {
	background-color: White;
}
.ui-state-disabled label {
	color: #ccc;
}
.ui-dropdownchecklist-group {
	font-weight: bold;
	font-style: italic;
}
.ui-dropdownchecklist-indent {
	padding-left: 10px;
}
.ui-dropdownchecklist-selector-wrapper {
	vertical-align: middle;
	white-space: nowrap;
}

/*by br*/
.ui-dropdownchecklist-group {
	padding: 1px 1px 1px 1px;
}

/*by br*/
.ui-dialog .ui-dropdownchecklist-selector 
{
    height: 19px;
}
