<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Durados.Web.Mvc.Specifics.SanDisk.Samples.Properties.Settings.SanDisk_Allegro_SamplesConnectionString"
            connectionString="Data Source=DEVITOUTSRV1\SQLEXPRESS;Initial Catalog=SanDisk_Allegro_Samples_2.4;Persist Security Info=True;User ID=sa;Password=sa2008"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>