.d_Test_TestFlow
{
    min-width: 70px;
    white-space: nowrap
}


input.d_MRD
{
	width:320px;
}

div.milestone0{background:rgb(238,221,130) !important}
div.milestone1{background:rgb(65,105,225) !important}