/* Base styles
----------------------------------*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);*/
input, label {margin: 0;padding: 0;border-collapse:collapse;border: none;font-family: georgia,sans-serif;}
strong {font-weight:bold;}
fieldset, img {border: 0; margin:0px;}
address, caption, cite, code, dfn, em, th, var {font-style: normal;font-weight: normal;}
abbr, acronym {border: 0;font-variant: normal;}
sup {font-size: 50%;}
legend {color: #000;}
:focus {outline: 0;}
form {margin: 0px;padding: 0px;}
.clearfix {display: block;height: 0;clear: both;visibility: hidden;float:none;height:0px;zoom:1;}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {display: none;}
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 10px; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
.ui-corner-all { -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; }
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background:#000;opacity:0.6; filter:Alpha(Opacity=60) }
.ui-dialog {position: absolute;padding: 0em;overflow: hidden;overflow:hidden;/*border:6px solid #FFF;*/background-color:#FFFFFF;width:auto; z-index:999999; -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;}
.ui-dialog .ui-dialog-titlebar { padding: 0px;}
.ui-dialog .ui-dialog-title { float: left; margin: 0px; display:none;} 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 15px; top: 15px; width: 20px; margin: 0; padding: 1px; height: 20px; z-index:2000; background:url(/website/assets/images/dialogs/dialoug-close.png) no-repeat center top; border:none;}
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; /*background-position:center -20px;*/}
.ui-dialog .ui-dialog-content { position: relative; border: 0; /*padding: 1.5em 1.5em;*/ background: none; overflow: auto; zoom: 1; /*border:solid 1px #CCCCCC;*/ -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px; }

/*ToolTips - tipsy*/
.toolTip{display:none;}
.tipsy { padding: 5px; position: absolute; z-index: 100000; font-size:14px;}
.tipsy-inner { padding: 15px; background-color: white; color: black; max-width: 200px; text-align: left;}
.tipsy-inner { border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:3px solid #ccc; }
.tipsy-arrow { position: absolute; background: url('../img/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }
.tipsy .tt-title{font-size:16px; font-weight:bold; margin-bottom:10px;}
.tipsy .tt-text{font-size:12px;}


/*------------------------------*/

.ui-dialog p{
    font-family: arial;
    font-size: 14px;
    color: #000;
    padding: 5px 0px;
}

.dialog-header{
    background:#1ba085;
    width: 90%;
    color: #fff;
    padding: 15px 5%;
    box-sizing: content-box;
    
}
.dialog-header .title{
    font-size: 36px;
}
.dialog-header .sub-title{
    font-size: 20px;
}
#trynow-content{
   -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;
    min-width: 600px;
    display: none;
}
#trynow-content .para{
    font-family: arial;
    font-size: 14px;
    color: #000;
    padding: 5px 0px;
    width: 80%
}

.trynow-main{
    padding: 30px;
}
#trynow-content .left{
    width: 230px;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-size: 20px;
    font-weight:bold;
    padding-top:20px;
}
#trynow-content .right{
    width: 380px;
    display: inline-block;
    vertical-align: middle;
    padding-top:20px;
}
#trynow-content a{
    text-decoration: none;
    color: #f26522;
}
#login-content a, #forgot-content a, #password-approval-content a{
    color: #f26522;
    font-weight:600;
}
.field-holder {
    background: #FFF;
    border: 1px solid #1ba085;
    padding: 7px 5px 5px 5px;
    float: left;
    clear: right;
    display: block;
    position: relative;
    width: 100%;
    height:40px;
}
.field-holder-div{
    background: #FFF;
    border: 1px solid #1ba085;
    padding: 5px;
    display: inline-block;
    vertical-align: middle
    clear: right;
    position: relative;
    margin-bottom: 10px;
    width: 22%;
    margin-right: 10px;
}
#trynow-content input[type="text"],select{
    padding: 3px;
    color: #000;
    width: 97%;
    border: 0px;
}
#trynow-content input[type="text"].blur
{
    color:#aaaaaa;  
}
#create-content input[type="text"], select, input[type="password"]
{
    color: #000;
    padding: 3px;
    width: 97%;
    border: 0px;
}
#login-content input[type="text"], input[type="password"], #forgot-content input[type="text"]
{
    color: #000;
    padding: 3px;
    width: 97%;
    border: 0px;
}
#create-content input[type="text"].blur,#create-content textarea.blur{
    color:#aaaaaa;
}
#next {
    text-indent: -9999px;
    background: url(/website/assets/images/dialogs/try_now.png) no-repeat 0 0;
    width: 167px;
    height: 58px;
    display: block;
    cursor: pointer;
}
#trynow-content select{
    background: url(/website/assets/images/dialogs/drop_arrow.png) no-repeat center right;
        -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    padding: 5px;
    outline : none;
overflow : hidden;
text-indent : 0.01px;
text-overflow : '';
    -webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
appearance: none;
}

span.calender{
    background: url(/website/assets/images/dialogs/calendar.png) no-repeat 0 0;
    width: 23px;
    height: 23px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle
}

#login-content, #forgot-content, #password-approval-content{
   -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;
    min-width: 600px;
    display: none;
    background: url(/website/assets/images/dialogs/login-background.jpg) no-repeat center bottom;
    padding-bottom: 100px;
    display: none;
}
#login-content .left, #forgot-content .left{
    width: 33%;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-size: 20px;
    padding-bottom: 20px;

}
#login-content .right, #forgot-content .right{
    width: 66%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom:20px;
}
.login {
    text-indent: -9999px;
    background: url(/website/assets/images/dialogs/login_btn.png) no-repeat 190px 0;
    width: 386px;
    height: 57px;
    display: block;
    cursor: pointer;
}

#contactus-content{
   -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;
    min-width: 600px;
    display: none;
}
#contactus-content .left{
    width: 33%;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-size: 20px;
}
#contactus-content .right{
    width: 56%;
    display: inline-block;
    vertical-align: middle;
}
input[type="submit"].contact {
    text-indent: -9999px;
    background: url(/website/assets/images/dialogs/submit_btn.png) no-repeat 0 0;
    width: 102px;
    height: 49px;
    display: block;
    cursor: pointer;
}
#contactus-content input,#contactus-content select{
    color: #000;
}
#contactus-content .field-holder{
    border-radius: 15px !important;
}

.create-main-name{
    padding: 20px;
    padding-top:0;
    line-height:1;
    background: url(/website/assets/images/dialogs/dialog-line.png) repeat-y 600px 0px;
}

#create-content{
    -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;
    display: none;
}

#create-content .top{
    display: inline-block;
    width: 590px;
    margin-left: 10px;
}

#create-content .left{
    width: 185px;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}
#databaseinstructions
{
    display:inline;
}
#blankinstructions
{
    display:inline;
}

#create-content div.text{
    width: 260px;
    display: inline-block;
    vertical-align: top;
    color: #000;
    font-size: 16px;
    line-height:1.43;
}

#create-content .right{
    width: 345px;
    display: inline-block;
    vertical-align: middle;
}
#create-content .mid{
    width: 228px;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px 10px 5px;
}
#create-content a{
    color: #f26522;
    text-decoration:underline;
}
.input-append .add-on {
    top: 0px;
    right: 0px;
    position: absolute;
    display: block;
    width: auto;
    min-width: 16px;
    /*background-repeat: repeat-x;*/
    padding: 0px 10px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    line-height: 38px;
    color: #20190c;
    vertical-align: top;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /*background-image: linear-gradient(to bottom, #f3b858, #f3b858);*/
    background:#f3b858;
}
.trynow-main{
    line-height:1;
}
.create-main-top{
    background: url(/website/assets/images/dialogs/fieldset_cap.png) no-repeat center;
    background-position: 240px 10px;
    padding-top: 10px;
}
.create-main{
    margin-top: 10px;
    padding: 10px 20px 0px 20px;
    border: 1px solid #f3b858;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
    width: 525px;
}
.rr{
    display: inline-block;
    vertical-align: middle;
    margin-left: -10px;
    margin-top: 20px;
}
.submit-create {
    text-indent: -9999px;
    background: url(/website/assets/images/dialogs/create_btn.png) no-repeat 0 0;
    width: 167px;
    height: 57px;
    display: block;
    cursor: pointer;
    float: right;
    margin-right: -170px;
    margin-top: 30px;
    top: 400px;
    position: absolute;
    left: 620px;
}
input[type="radio"], input[type="checkbox"] {
    display: none;
}
input[type="radio"] + label {
    color: #000;
    font-size: 16px;
    font-weight:normal;
}

.rr label {font-weight: normal;}
.rr label span,   input[type="radio"] + label span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -1px 0px 3px 25px;
    vertical-align: middle;
    background: url(/website/assets/images/dialogs/radio_uck.png) left top no-repeat;
    cursor: pointer;
}
input[type="radio"]:checked + div + label span, input[type="radio"]:checked + label span {
    background: url(/website/assets/images/dialogs/radio_ck.png)  no-repeat 0 0;
}

.mid label {font-weight: normal;font-size: 16px;}
input[type="checkbox"] + label {
    color: #000;
}
.mid label span, input[type="checkbox"] + label span {
    display: inline-block;
    width: 18px;
    height: 17px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(/website/assets/images/dialogs/checkbox_uck.png) no-repeat 0 0;
    cursor: pointer;
}
input[type="checkbox"]:checked + div + label span, input[type="checkbox"]:checked + label span {
    background: url(/website/assets/images/dialogs/checkbox_ck.png) left top no-repeat;
}

#dialog-footer{
    background:#1ba085;
    color: #fff;
    padding: 15px 5%;
    border-top: 10px solid #f3b858;
    box-sizing: content-box;
}
#dialog-footer img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
}

.error-message
{
    color: red;
    font-size: 10px;
    margin-top: 8px;
}

.general
{
    color: red;
    font-size: 12px;
}
