/* global resets */

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h3{
    color: #1ba085;
    font-size: 24px;
    margin-top: 30px;
}
/* popular styles */

.text-justify {
    text-align: justify;
}
.nospace{
    margin: 0;
    padding: 0;
    font-family:Sans-Serif;
}
.marginb0{
    margin-bottom: 0px !important;
}
.margint0{
    margin-top: 0px !important;
}
.btn-yellow{
    background: #f26522;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-bottom: solid 6px #f3b858;
    font-family: "pt-sans",Arial;
    font-size: 24px;
    display: block;
    width: 256px;
    display: inline-block;
    height: 79px;
    line-height: 79px;
    margin: 10px 0 25px;
    text-align: center;
    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;
}
.btn-yellow:hover{
    color: #fff;
    background:#1ba085;
}
.btn-yellow-short{
    width: 215px;
    height: 70px;
    line-height: 70px;
    font-size: 22px;
}
.btn-submit{
    background: #f3b858;
    color: #000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-bottom: solid 6px #f26522;
    font-family: "pt-sans",Arial;
    font-size: 16px;
    display: block;
    width: 110px;
    display: inline-block;
    height: 50px;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
    cursor:pointer;
}
.btn-submit:hover{
    color: #000;
}
.fill { 
    min-height: 100%;
    height: 100%;
}
/* Fonts */

@font-face
{
    font-family: pt-sans-bold;
    src: url(fonts/PT_Sans-Web-Bold.ttf);
}
@font-face
{
    font-family: pt-sans;
    src: url(fonts/PT_Sans-Web-regular.ttf);
}
/* Core rows styles */

.rowtop{

}
.rowmenu{

}
.rowshowcase{

}
.rowusercounter{

}
.rowfeatured{

}
.rowcontent{

}
.rowfooter{

}
.rowcopyright{

}

/* Rows styles one by one */

/* Top row */

.rowtop{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    background: #f26522;
}
.rowtop .container{
    background: url(images/bg/bg_top.jpg) no-repeat 540px 0;
}
.rowtop a{
    color: #fff;
}
.rowtop a:hover {
    text-decoration: none;
}
/* Menu login */
ul.menulogin {    
    font-family: "pt-sans-bold";
}
ul.menulogin li{   
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
ul.menulogin li:last-child:before{
    content: '|';    
}
ul.menulogin li:last-child{
    padding-left: 0px;
    padding-right: 0px;
}
ul.menulogin li a{
    padding: 0 15px;
}

/* Rowmenu style */

.rowmenu {
    height: 75px;
    background: url(images/bg/bg_mainmenu.jpg) repeat-x left;
    border-bottom: solid 1px #29a58c;
}
.logo {
    padding-top: 20px;
    margin-right: 91px;
}
.mainmenu{
    font-family: "pt-sans-bold";
    size: 16px;
    line-height: 19.2px;
    text-transform: uppercase;
}
.mainmenu a{
    color: #000;  
    line-height: 75px;
    padding: 0 15px;
    height: 100%;
    display: block;
}
.mainmenu a:hover, .mainmenu a:active, .mainmenu .current a{
    background: #1ba085;
    color: #fff;
}
/* rowshowcase style */

.rowshowcase{
    border-top: solid 1px #f0f9f7;
    height: 495px;
    border-bottom: solid 1px #f9deb1;
    position: relative;
    padding-top: 45px;
}
.rowshowcase .container{
    background: url('images/bg/bg_showcase.jpg') no-repeat bottom right;
    height: 100%;
    min-height: 100%;
    display: block;
}
.wrapperlivechat{
    position: absolute;
    left: 0;
    top: 25%;
}
.iconlivechat{
    width: 70px;
    height:47px;
    background: url('images/bg/icon_livechat.gif') no-repeat top left;
}
.textlivechat{
    width: 30px;
    height:75px;
    background: url('images/bg/text_livechat.gif') no-repeat top left;
}
.textlivechat a{
    text-indent: -9999px;
    display: block;
    height: 100%;
    width: 100%;
}
.wrapperlivechat:hover .iconlivechat{
    background: url('images/bg/icon_livechat_hover.gif') no-repeat top left;
}
.openvideo
{
    position: absolute;
    top: 30px;
    width: 482px;
    height:273px;
    background: url('images/slider/video.jpg') no-repeat center center;
}
.openvideo:hover
{
    width: 482px;
    height:273px;
    background: url('images/slider/video_over.jpg') no-repeat center center;
}

.rowshowcase h2{
    font-size: 36px;
    line-height: 42px;
    font-family: "Georgia", Arial, Tahoma;
    font-weight: bold;
}
.rowshowcase p.text{
    font-family: "Georgia", Arial, Tahoma;
    line-height: 24px;
    font-size: 20px;
}
.rowshowcase p.desc{
    font-family: "Georgia", Arial, Tahoma;
    font-size: 25px;
    line-height: 19.2px;
    color: #1ba085;
    padding:2px;
    line-height:25px;
}
/* rowusercounter style */

.rowusercounter{
    min-height: 20px;
    background: #f3b858;
}
.wrappercounter {
    margin: 0 auto;
    width: 300px;
    position: relative;
}
.rowusercounter .counter{
    position: absolute;
    height: 62px;    
    background-color: #fff;
    width: 242px;
    top: -22px;  
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #f3b858 url(images/bg/bg_counter.jpg) no-repeat center center;
    font-family: pt-sans,arial,tahoma;
    font-size: 36px;
    letter-spacing: 27px;
    color: #fff;
    padding-top: 5px;
    padding-left: 17px;
}
.rowusercounter .desc-users {
    position: absolute;
    right: -113px;
    color: #f26522;
    top: -2px;
}
.rowusercounter hr{
    border: solid 1px #f3b858;
    position: absolute;
    top: -14px; 
    width: 240px;
    background: #f3b858;
    z-index: 999; 
}
/* rowfeatures style */

.rowfeatured {
    height: 128px;
    background: #1ba085;
}
.rowfeatured a{
    line-height: 128px;
    display: block;
}
/* rowcontent styles */

.rowcontent{
    border-bottom: solid 1px #29a58c;
}
.rowcontent .container{    
    min-height: 500px;
    padding: 20px 0
}
.rowcontent-homepage .container{
    background: url(images/bg/bg_content.jpg) 27% 0 no-repeat;
    padding: 90px 0;
}
ul.contentlist li{
    width: 20%;
    margin: 30px 0 40px 0;
}
ul.contentlist a{
    font-family: pt-sans,arial,tahoma;
    font-size: 16px;
    color: #000;
    line-height: 19.2px;
    text-transform: uppercase;
    padding: 3px 0;
    display: block;
}
/* rowfooter styles */

.rowfooter{    
    background: #efefef;
    border-top: solid 1px #dce5e3
}
.rowfooter .container{
    background: url(images/bg/bg_footer.jpg) no-repeat top right;
    height: 90px;
    padding: 15px;
}
.logo-footer{
    margin-top: 5px;
    display: block;
}
.rowfooter p.slogan{
    color: #1ba085;
    font-size: 20px;
    font-family: pt-sans,arial,tahoma;
}

.logo-slogan
{
    width:26%;
}
.menufooter li{
    margin: 0px 45px 5px 0px;
    padding: 2px;
}
.menufooter a{
    font-family: pt-sans-bold,arial,tahoma;
    font-weight: normal;
    font-size: 16px;
    color: #000;
    display: block;
}
.menufooter a:hover
{
    color: #1ba085 ;
}
.social-icons p {
    font-family: pt-sans-bold,arial,tahoma;
}
.social-icons ul{
    padding-left: 45px;
}
/* rowcopyright styles */

.rowcopyright{    
    background: #f3b858;
    color: #fff;
}
.rowcopyright .container{
    height: 37px;
    background: url(images/bg/bg_copyright.jpg) no-repeat 150px 0;    
}
.rowcopyright .col-md-4{
    /*Wisam Fix*/
    /*padding-top: 7px;*/
    padding-top: 7px;
    width: 287px;
}
.copyright-right{
    padding-top: 3px !important;
}

/* Home page styles ends */

/* Page 404 styles */

.bg_404 {
    padding-left: 170px;    
}
.desc_404{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 80px;
}
.rowmenu .btn-yellow{
    font-size: 16px;
    padding: 00px;
    height: 55px;
    line-height: 55px;
    width: 155px;
    margin-left: 60px
}


/* Contact Us Page */

.desc{
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
}
.panel_contact {
    background: url(images/bg/bg_contact.jpg) repeat-x top left;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    min-height: 500px;
    padding: 30px 20px;
    clear: both;    
    font-size: 20px;
    position: relative;
}
.panel_contact form{
    width: 700px;
}
.panel_contact .control-label{
    text-align: left;
}
.panel_contact label {
    font-weight: normal;
}
.panel_contact .col-sm-2{
    width: 29% !important; 
}
.panel_contact .col-sm-10{
    width: 53% !important; 
}
.form-control{
    border: solid 1px #18987c;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: block;
    height: 50px;
    padding-left: 22px; 
    color: #000;
    font-size: 20px;
}
select.form-control {
    background: #fff url(images/bg/bg_select.jpg) 320px center no-repeat;
    -webkit-appearance: none;
}
.bg_contact_right {
    position: absolute;
    top: 60px;
    right: -97px;
}
.bg_contact_top {
    position: absolute;
    top: -32px;
    right: 110px;
}

/* product page */
.col-product {
    width: 49%;
}
.box-product{
    border: solid 1px #1ba085;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 20px 0px 20px 15px;
    display: block;
}
.box-product h3{
    font-size: 24px;
    margin-bottom: 5px;
}
.col-product-content{
    padding-left: 15px;
    width: 388px;
}

/* Faq styles */
.exp-faq .ui-accordion .ui-accordion-header {
    background: #f3b858 ;
    color: #000;
    font-size: 24px;
    margin-top: 6px;
    padding: 5px;
    cursor:pointer;
}
.exp-faq .ui-state-active {
    background: #1ba085 !important;
    color: #000;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;

}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    left: 990px !important;
    right: 200px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
}
.exp-faq .q{
    color: #fff;
    margin-right: 5px;
}
.ui-accordion .ui-accordion-icons {
    padding-left: 0.5em !important;
}
.exp-faq .a{
    color: #1ba085;
    margin-left: -5px;
    font-size: 24px;
}
.ui-accordion .ui-accordion-content{
    background: #f2f2f2;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;

}
.btn-text{
    line-height: 24px;
    padding-top: 8px;
}

.formstyle1 .control-label{
    text-align: left;
}
.formstyle1 select.form-control {
    background: #fff url(images/bg/bg_select.jpg) 370px center no-repeat !important;
    -webkit-appearance: none;
}
.fadein { position:relative;  }
.fadein p { position:absolute; left:0; top:0; }

.progress{height:220px; width:260px; background: url(/website/assets/images/waiting-animation.gif) no-repeat center center;}

.error-message
{
    color: red;
    font-size: 12px;
    margin-top: 12px;
}

.imgSuppport{display:block;padding:5px 0;}
span.btn-submit.close{text-shadow: none;opacity: inherit;}

/*********************Price Page*********************/

.wrapper-mid{
    width: 1024px;
    margin: 0 auto;
}
.clear{
    clear: both;
}

#main-contain{
    width: 100%;
}
.info-heading{
    margin-top: 35px;
    margin-bottom: 30px;
    font-family: georgia,sans-serif;
    font-size: 36px;
    color: #000;
}
.pricing-table{
    width: 100%;
    margin: 0 auto;
    padding: 2% 0 2% 0;
}
.grid_3 {
    width: 20%;
    display: inline;
    float: left;
    position: relative;
}
div.pricing-cell1 {
    text-align: center;
    border:1px solid #f3b858;
    padding: 2px;
    -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;
}

div.pricing-cell2 {
    margin: 0px 5%;
    text-align: center;
    border:1px solid #1ba085;
    padding: 2px;
    -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;
}
div.pricing-cell3 {
    text-align: center;
    border:1px solid #f26522;
    padding: 2px;
    -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;
}
div.pricing-cell4 {
    background: url(images/pricing/overlay.jpg) no-repeat 0 0 ;
    height: 485px;
    margin: 0px 0% 0px 4%;
}
div.pricing-cell4 .inner{
    text-align: center;
    border:1px solid #1ba085;
    padding: 2px;
    background: #fff;
    -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;
    margin-top: 200px;
}

div.pricing-cell1 h5{
    font-weight: normal;
    font-size: 36px;
    color: #f3b858;
    padding: 15px 0;
    text-transform: uppercase;
}
div.pricing-cell1 h5 span{
    color: #000;
    font-size: 14px;
    text-transform: none;
}
div.pricing-cell2 h5{
    font-weight: normal;
    font-size: 36px;
    color: #1ba085;
    padding: 15px 0;
    text-transform: uppercase;
}
div.pricing-cell2 h5 span{
    color: #000;
    font-size: 14px;
    text-transform: none;
}
div.pricing-cell3 h5{
    font-weight: normal;
    font-size: 36px;
    color: #f26522;
    padding: 15px 0;
    text-transform: uppercase;
}
div.pricing-cell3 h5 span{
    color: #000;
    font-size: 14px;
    text-transform: none;
}
div.pricing-cell4 h5{
    font-weight: normal;
    font-size: 36px;
    color: #f26522;
    padding: 15px 0;
    text-transform: uppercase;
}
div.pricing-cell4 h5 span.bold{
    font-size: 36px;
    font-weight: bold;
    color: #f26522;
}
div.pricing-cell4 h5 span{
    font-size: 14px;
    color: #a1d0c4;
    text-transform: none;
}
div.pricing-cell1 ,div.pricing-cell2 ,div.pricing-cell3 {
    padding-bottom: 30px;
}
div.pricing-cell1 div,div.pricing-cell2 div,div.pricing-cell3 div{
    padding: 10px 0px;
    color: #000;
    font-size: 14px;
}
div.pricing-cell1 div:nth-child(odd) {
    background: #fbeacd;
}
div.pricing-cell1 div:nth-child(even) {
    background: #fff;
}
div.pricing-cell2 div:nth-child(odd) {
    background: #bae2da;
}
div.pricing-cell2 div:nth-child(even) {
    background: #fff;
}
div.pricing-cell3 div:nth-child(odd) {
    background: #fbd0bc;
}
div.pricing-cell3 div:nth-child(even) {
    background: #fff;
}

.freeplan{
    border-top:2px solid #bae2da;
    border-bottom:2px solid #bae2da;
    padding: 30px 15px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;   
    line-height: normal;
}
.freeplan .left{
    width: 70%;
    float: left;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;   
}
.freeplan .right{
    width: 29%;
    float: left;
}
.freeplan .right div{
    text-align: center;
}
.freeplan .right a{
    text-indent: -9999px;
    background: url(images/dialogs/sign-up_btn.jpg) no-repeat 0 0;
    width: 233px;
    height: 63px;
    display: block;
    cursor: pointer;
}
.freeplan h5{
    color:#1ba085;
    font-weight: normal;
    font-size: 36px;
    padding: 0px;
}
.freeplan .slogun{
    color: #000;
    font-size: 16px;
    font-family: georgia,sans-serif;
}
.freeplan ul{
    width: 100%;

}
.freeplan ul li{
    float: left;
    padding-right: 35px;
    padding-left: 0px;
    list-style-image:url('images/pricing/bullet.jpg');
    font-weight: bold;
    font-size: 16px;
    font-family: georgia,sans-serif;
}
#tips{
    width: 100%;
    padding: 6% 20px 6% 20px;
    background: url(images/pricing/tips-bg.jpg) no-repeat  305px 0px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    line-height: normal;
}
#tips .box{
    width: 28%;
    float: left;
    border:1px solid #1ba085;
    -moz-border-radius: 20px; -webkit-border-radius: 20px; -khtml-border-radius: 20px; border-radius: 20px;
    margin: 0 4%;
    text-align: center;
    padding: 10px;
    min-height: 130px;
    background: #fff;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;    
    line-height: normal;
}
#tips .box p{
    font-size: 16px;
    font-family: georgia,sans-serif;
}
#tips .last{
    margin: 0px;
}
#tips .box h5{
    font-size: 24px;
    font-family: arial,sans-serif;
    font-weight: normal;
    color: #1ba085;
    padding: 5px 0px 10px;
    margin: 0;
}
#tips .box:first-of-type{
    margin: 0px;
}
#tips .box:last-of-type{
    margin: 0px;
}
#contact-qoute{
    text-align: center;
    padding-bottom: 20px;
}
#contact-qoute  a{
    text-indent: -9999px;
    background: url(images/pricing/contact_bnt.jpg) no-repeat 0 0;
    width: 217px;
    height: 90px;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

.copyright-right
{
    cursor:pointer;
}

/* Videos Page */
.v_cat_header{
    color: #1ba085;
    font-size: 24px;
    border-bottom: solid 1px #1ba085;
    margin-bottom: 20px;
}
.v_box_wrapper{
    background: #eaeaea;
    padding: 8px;
    position: relative;
    margin-bottom: 25px;
}
.v_video_title{
    padding-top: 5px;
    padding-left: 10px;   
    visibility: visible;
    
    -moz-transition: all 0.2s ease-in;
    /* WebKit */
    -webkit-transition: all 0.2s ease-in;
    /* Opera */
    -o-transition: all 0.2s ease-in;
    /* Standard */
    transition: all 0.2s ease-in;
}
.v_video_title p{
    padding: 0;
    margin: 0;
    font-family: Georgia;
    font-size: 20px;
}
.v_video_thumb{
    width: 100%;
    height: 170px;  
    position: relative; 
    cursor: pointer;
}
.v_video_thumb_img{
    position: relative;
    z-index: 1;
    width:305px;
}
.v_video_play{    
    position: absolute;
    z-index: 2;  
    left: 40%;
    top: 35%;    
}
.v_video_desc{
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 8px 10px;
    color: #000;
    z-index: 1039;
    cursor: pointer;

    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(241, 194, 117);
    /* RGBa with 0.6 opacity */
    background: rgba(241, 194, 117, 0.8);
}
.v_video_desc p{
    margin: 0;
}
.v_video_desc hr{
    margin: 5px 0;
}
.v_desc_video_name{
    font-size: 20px;
}
.v_desc_video_desc{
    font-size: 16px;
}
.v_desc_length{
    font-size: 16px;
}
.v_desc_play{
    font-size: 16px;
}
.modal-header {
    background: #1ba085;
    width: 90%;
    color: #fff;
    padding: 15px 5%;
    box-sizing: content-box;
}
.modal-content{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
.v_box_wrapper:hover .v_video_title{
    visibility: hidden;
}
.v_modal .modal-title{
    font-size: 30px;
}

.database-logo {display: inline-block;vertical-align: middle;width: 100px;height: 62px;}
.database-logo.mysql{background: url(images/Databases/mysql.png);} 
.database-logo.sql-server{background: url(images/Databases/microsoftsqlserver.png);} 
.database-logo.sql-azure{background: url(images/Databases/sqlazure.png);} 
.database-logo.postgresql{background: url(images/Databases/postgresql.png);} 
.database-logo.mongodb{background: url(images/Databases/mongodb.png);} 
.database-logo.oracle{background: url(images/Databases/oracle.png);} 

#databseconsole > div:nth-child(1) > div.left {margin-top: 35px;
width: 110px;
vertical-align: top;}


#databseconsole > div:nth-child(1) > div.right {width:460px;}

#databseconsole > div.create-main-top > div > div.ssh > div.mid.ssh-key{
    width: 470px;
    height: 80px;
}

div.ssh-key > div{
    height: 80px;
}

div.ssh-key > div > textarea{
    width: 100%;
height: 100%;
border: none;
resize: none; 
}
#asaaslickheader {
    display: none;
}
#probone {
    float:left;
}
#probdiv {
    float:left;
}

.clickToCallSelector {
        	-webkit-box-shadow: 0 ;
	-moz-box-shadow: 0 ;
	box-shadow: 0 ;
    border: 0px none !important;
text-decoration: none;
}

.clickToCallSelector:hover
{
    	-webkit-box-shadow: 0 ;
	-moz-box-shadow: 0 ;
	box-shadow: 0 ;
 border: 0px none;
text-decoration: none;
}
.clickToCallSelector:active
{
        	-webkit-box-shadow: 0 ;
	-moz-box-shadow: 0 ;
	box-shadow: 0 ;
 border: 0px none;
text-decoration: none;
}