.ddsmoothmenu
{
font: bold 12px Tahoma, Arial, sans-serif;
background: #1c5aa5; /*background of menu bar (default state)*/
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7CADE9), color-stop(100%, #1c5aa5));
background-image: -webkit-linear-gradient(top, #7CADE9,#1c5aa5);
background-image: -moz-linear-gradient(top, #7CADE9,#1c5aa5);
background-image: -o-linear-gradient(top, #7CADE9,#1c5aa5);
background-image: -ms-linear-gradient(top, #7CADE9,#1c5aa5);
background-image: linear-gradient(top, #7CADE9,#1c5aa5);
margin-bottom:2px;
padding: 3px;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
color: white;
padding: 4px 6px;
border-right: 1px solid #778;
color: #2d2b2b;
text-decoration: none;
margin: 0 3px;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: white;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #fdffb8; 
color: #1c5aa5;
}

.ddsmoothmenu ul li a:hover{
background: #fdffb8; /*background of menu items during onmouseover (hover state)*/
color: #1c5aa5;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
margin-top: 0px;
margin-left: 0px;
border-top: solid 1px gray;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{ 
font: normal 13px Tahoma, Arial, sans-serif;
width: 140px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid gray;
background-color: #EAECF5;

}

.ddsmoothmenu ul li ul li a:link, .ddsmoothmenu ul li ul li a:visited{
color: #1c5aa5;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 9px;
right: 7px;
}

.contextmenudownarrow{
position: static;
top: 6px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.8;
}


/* Command Menu - ddsmoothcommand*/
.ddsmoothcommand{
font: normal 12px Tahoma, Arial, sans-serif;
background: #E0E0E0; /*background of menu bar (default state)*/
width: 100%;
margin-bottom:5px;
}

.ddsmoothcommand ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothcommand ul li{
position: relative;
display: inline;
}

/*Top level menu link items style*/
.ddsmoothcommand ul li a{
display: block;
padding: 0px 0px;
color: #009;
text-decoration: none;
}

* html .ddsmoothcommand ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothcommand ul li a:link, .ddsmoothcommand ul li a:visited{
color: #009;
}

.ddsmoothcommand ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #fdffb8; 
color: #1c5aa5;
}

.ddsmoothcommand ul li a:hover{
background: #fdffb8; /*background of menu items during onmouseover (hover state)*/
color: #1c5aa5;
}
	
/*1st sub level menu*/
.ddsmoothcommand ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothcommand ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothcommand ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothcommand ul li ul li a{
width: 60px; /*width of sub menus*/
background: #E0E0E0; /*background of menu items (default state)*/
padding: 5px;
margin: 0;
border-top-width: 0;
border: 1px solid gray;

}

.downarrowcommandclass{
position: absolute;
top: 3px;
right: 7px;
}


/*new menu*/
.ddsmoothmenu ul li a:link.newmenu, .ddsmoothmenu ul li a:visited.newmenu
{
    color: #FF3300;
}

.ddsmoothmenu ul li a:link.newmenugap, .ddsmoothmenu ul li a:visited.newmenugap {
    
}

