    body
    {
        font-family: Arial, "Open Sans", Helvetica, sans-serif;
        font-size: 14px;
        background-position:center;
        background-repeat:no-repeat;
        color:#6a6a6d;
    }
    
    .welcome
    {
        margin-top:0px;
        font-weight:bold;
        font-style:italic;
        text-align:center;
    }
       
    .signInHeader
    {
        text-align:left;
        margin-top:0px;
        font-size:28px;
        color: #639b10;
        margin-left:10px;
    }
    div.username, div.password, div.remember
    {
        color: #494949;
        font-weight:bold;
        font-size:18px;
        text-align:left;
        margin-left:10px;
        margin-top:10px;
        float:left;
        clear: right;
    }
    div.username input, div.password input
    {
        border-style:ridge;
        height:30px;
        font-size:18px;
    }
    #username
    {
        float: right;
        width:90%;
    }
    #Logon_password
    {
        float: right;
        width:90%;
    }   
    div.remember
    {
        margin-top:0px;
        float:left;
    }
    
    span.forgotPassword
    {
        clear: right;
        float: right;
        height:30px;
    }
    span.forgotPassword a
    {
        color: #468FBA;
        font-weight:bold;
        font-size:13px;
        text-decoration: underline;
    }
    
    div.footerParent
    {
        clear: right;
        text-align: left;
        margin-left: 10px;
        float: left;
        color: #494949;
        font-size:13px;
        margin-top:10px;        
    }
   
    #btn_login
    {
        float:right;
        margin-top:20px;
    }

    #btn_reset
    {
        float:right;
        margin-top:20px;
    }
      
    #btn_changepassword
    {
        float:right;
        margin-top:20px;
    }      
    .btn-green {
	        float: left;
	        border: 1px solid #a9ed44;
    }
    .btn-green .inner {
	        display: block;
	        line-height: 38px;
	        text-decoration: none;
	        color: #fff;
	        padding: 0 15px;
	        background: #639b10 url('images/btn-green.gif') repeat-x top left;
	        font-size: 18px;
	        text-shadow: 1px 1px #000;	        
    }
    .btn-green .inner:hover {
	        background-position: bottom left;
	        text-shadow: -1px -1px #000;
	        cursor:pointer;
    }
    
    .instructions
    {
        text-align:left;
        margin-left:10px;
        margin-top:18px;
    }
    
    .error
    {
   	    display: none;
	    color: #CC3333;
	    border: 1px solid #CC3333;
        padding:20px;
    }
    
    legend
    {
        display:none;
    }
    
    div.registration
    {
        text-align:left;
        margin-left:10px;
    }
    
    div.registration fieldset div label
    {
        color: #494949;
        font-weight:bold;
        font-size:18px;
        text-align:left;
        margin-top:10px; 
        float:left;
        clear:right;
    }

    div.registration fieldset div input,textarea
    {
        border-style:ridge;
        height:30px;
        width:90%;
        font-size:18px;  
        margin-top:8px; 
        float:right;
    }    