<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Durados.Web.Mvc.Specifics.SanDisk.Band.Properties.Settings.SanDisk_allegroConnectionString"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=SanDisk_allegro_dev;Persist Security Info=True;User ID=sa;Password=sa2008" />
        <add name="Durados.Web.Mvc.Specifics.SanDisk.Band.Properties.Settings.Sandisk_AllegroConnectionString1"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=Sandisk_Allegro_dev;Persist Security Info=True;User ID=sandisk;Password=sandisk" />
        <add name="Durados.Web.Mvc.Specifics.SanDisk.Band.Properties.Settings.SanDisk_allegroConnectionString2"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=Sandisk_Allegro_dev;Persist Security Info=True;User ID=sandisk;Password=sandisk" />
        <add name="Durados.Web.Mvc.Specifics.SanDisk.Band.Properties.Settings.SanDisk_Allegro_RMAConnectionString"
            connectionString="Data Source=DEVITOUTSRV1\SQLEXPRESS;Initial Catalog=SanDisk_Allegro_RMA;Integrated Security=True" />
        <add name="Durados.Web.Mvc.Specifics.SanDisk.Band.Properties.Settings.SanDisk_Allegro_RMAConnectionString1"
            connectionString="Data Source=DEVITOUTSRV1\SQLEXPRESS;Initial Catalog=SanDisk_Allegro_RMA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>