/* Base styles
----------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
html, body {height: 100%;}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, tbody, th, td {margin: 0;padding: 0;border-collapse:collapse;font-weight: normal;border: none;font-family:Arial, Helvetica, sans-serif;}
strong {font-weight:bold;}
fieldset, img {border: 0; margin:0px;}
address, caption, cite, code, dfn, em, th, var {font-style: normal;font-weight: normal;}
li {list-style: none;padding-right: 0px;padding-left: 0px;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
q:before, q:after {content: '';}
abbr, acronym {border: 0;font-variant: normal;}
sup {font-size: 50%;}
legend {color: #000;}
:focus {outline: 0;}
form {margin: 0px;padding: 0px;}
.clearfix {display: block;height: 0;clear: both;visibility: hidden;float:none;height:0px;zoom:1;}
a{text-decoration:none;}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {display: none;}
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
.ui-corner-all { -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; }
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background:#000;opacity:0.6; filter:Alpha(Opacity=60) }
.ui-dialog {position: absolute;padding: 0em;overflow: hidden;overflow:hidden;border:6px solid #FFF;background-color:#FFFFFF;width:auto; z-index:999999;}
.ui-dialog .ui-dialog-titlebar { padding: 0px;}
.ui-dialog .ui-dialog-title { float: left; margin: 0px; display:none;} 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: .3em; width: 20px; margin: 0; padding: 1px; height: 20px; z-index:2000; background:url(../img/ico-close.png) no-repeat center top;}
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; background-position:center -20px;}
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: 1.5em 1.5em; background: none; overflow: auto; zoom: 1; border:solid 1px #CCCCCC; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; }

/*ToolTips - tipsy*/
.toolTip{display:none;}
.tipsy { padding: 5px; position: absolute; z-index: 100000; font-size:14px;}
.tipsy-inner { padding: 15px; background-color: white; color: black; max-width: 200px; text-align: left;}
.tipsy-inner { border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:3px solid #ccc; }
.tipsy-arrow { position: absolute; background: url('../img/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }
.tipsy .tt-title{font-size:16px; font-weight:bold; margin-bottom:10px;}
.tipsy .tt-text{font-size:12px;}
