div, p{min-height: 20px;}
h5{-webkit-margin-before: 1.67em; -webkit-margin-after: 1.67em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; font-weight: 600; padding: 0; margin: 0; display: block; color: #78963c;}
a, a img{    color: black;    text-decoration: none;    border: none;    color: #78963c;}
a:hover{    color: #78963c;    text-decoration: none;}
a:-webkit-any-link{    cursor: auto;}
.page-type-single{    position: relative;}
#pricing-table-top, div.pricing-cell{    padding-bottom: 20px; padding-bottom: 20px;}
.pricing-table, div.pricing-cell{    min-height: 260px;    padding-top: 20px;}
.pricing-table, div.pricing-cell{    padding-top: 20px;}
.pricing-table{margin:0 0 20px 0;    padding:0 2%;}
.pricing-table{-webkit-border-radius: 10px; border-radius: 10px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; background-color:rgb(252, 252, 252); border:1px solid #CCCCCC}
.container_12{margin-left: auto;    margin-right: auto;    width: 1010px;}
.container_12 .grid_3{    width: 231px;}
.container_12 .grid_12{    width: 940px;}
div.pricing-cell{    background: url('../img/vert-hr2.png') no-repeat center right transparent;    padding-right: 10px;    margin-right: 0;    text-align: center;}
div.pricing-cell.last{    background: none;}
div.pricing-cell h5{    font-size: 36px;    line-height: 40px;}
div.pricing-cell.first h5{    font-size: 36px;  }
div.pricing-cell{    text-align: center;}
div.pricing-cell div{    line-height: 40px;    height: 40px;    margin-bottom: 0;}
.grid_3, .grid_4, .grid_5, .grid_12{    display: inline;    float: left;    position: relative;    margin-left: 10px; /*margin-right: 10px;*/}
.aligncenterparent{font-size:18px; text-align: center; margin:0px 0px 0px 40px;}
.aligncenterparent a:hover{color: #8CD61C;}
.clearfix:before, .clearfix:after{    content: '\0020';    display: block;    overflow: hidden;    visibility: hidden;    width: 0;    height: 0;}
.clearfix:after{    clear: both;}
.container_12 div.pricing-question{padding: 20px 20px 40px 20px;    margin-bottom: 20px;    width: auto;    height:140px;}
.pricing-details, .pricing-question{-webkit-border-radius: 10px;    border-radius: 10px;    -moz-background-clip: padding;    -webkit-background-clip: padding-box;    background-clip: padding-box;}
.pricing-question, .modular-pricing-table{background-color: rgb(252, 252, 252);border:1px solid #CCCCCC;}
.pricing-question h5{font-size:18px;}
div.pricing-cell h5.price{font-family: 'Open Sans', Arial, Helvetica, sans-serif;font-size: 16px;font-style: normal;font-variant: normal;font-weight: bold;}
div.pricing-cell h5.price{    margin-bottom: 20px;}
div.pricing-cell div:nth-child(odd){background-color: rgb(240, 240, 240);-webkit-border-radius: 10px; border-radius: 10px; -moz-background-clip: padding; -webkit-background-clip: padding-box;}
.pricing-feature a{    padding-right: 10px; padding-left:10px;   text-align: center;    z-index: 24;}
.call-out a{-webkit-background-clip: padding-box;-webkit-border-radius: 10px; border-radius:10px; background-color: rgb(85, 177, 234); background-image: linear-gradient(rgb(85, 177, 234), rgb(82,166,225)); 
        cursor: pointer; color: rgb(255,255,255); font-size: 20px; font-weight: bold; height: auto; line-height: 20px; padding: 10px 20px 10px 20px; text-align: center; text-decoration: none; width: auto;}
.call-out a:hover{background-color: rgb(82,166,225);    background-image: linear-gradient( rgb(82,166,225) ,rgb(85, 177, 234)); color:White;}    
.pricing-question-btn a{ position:absolute; margin-left: 355px; margin-top: 15px; padding:10px; float:right;  background-color: rgb(76, 191, 2); background-image: linear-gradient( rgb(76, 191, 2) ,rgb7, 149, 20)); border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px; border-top-left-radius: 5px;
    border-top-right-radius: 5px; cursor: pointer; color: rgb(255,255,255);}
.pricing-question.table-cell {display:table-cell; text-align:center;}
.pricing-question-btn a:hover{ background-color: rgb(7, 149, 20); background-image: linear-gradient( rgb(7, 149, 20),rgb(76, 191, 2) );    }
.pricing-question-text{ float:left;}
.pricing-question-text h5{ font-size: 24px;}
.pricing-question-text p{ font-weight: bold;}

.pricing-question ul{ clear:both;}
.pricing-question ul li {float:left;margin:0 15px;list-style:disc;}
.pricing-question.grid_3.first{margin-left:0;}
div.pricing-question.container_12.free_plan{height:auto;}
div.pricing-cell h5.plan a{display: inline;font-size: 24px;font-style: normal;font-variant: normal;font-weight: bold;}
.popover.top .arrow{    border: none;}
.plan a:hover, .price a:hover{color: #8CD61C;}
