@charset "utf-8";
/* CSS Document */
#seq_header {
	height: 500px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
#images {
	height: 500;
	margin: 0 auto;
	position: relative;
	top: 0px;
	width: 1025px;
	/*backface-visibility prevents graphical glitches when frames are animating*/
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
/*when in fallback mode (for browsers that don't support transitions) hide anything outside of the images container*/
#images.images-fallback {
	overflow: hidden;
}
#slideshow * {
	-webkit-backface-visibility: hidden;
}
#main {
	border: none;
}
h2 {
	font-family: Open Sans, sans-serif;
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 10px 0;
}
h3 {
	font-family: Open Sans, sans-serif;
	font-size: 20px;
}
.controls {
	background: transparent;
	height: 49px;
	margin: 0 auto;
	position: relative;
	top: 0;
	width: 198px;
	z-index: 9999;
}
.prev, .next {
	opacity: 0.7;
}
.next, .prev, .pause {
	position: absolute;
	z-index: 10000;
	top: 10px;
}
.next {
	background: url("../images/bt-next.png") 50% 4px no-repeat;
	height: 34px;
	left: 128px;
	width: 41px;
}
.next:hover, .prev:hover, .pause:hover {
	background-position: 50% -26px;
}
.pause.paused:hover {
	background-position: 50% -25px;
}
.prev {
	left: 28px;
	background: url("../images/bt-prev.png") 50% 4px no-repeat;
	height: 34px;
	width: 41px;
}
.pause {
	background: url("../images/bt-pause.png") 50% 4px no-repeat;
	cursor: pointer;
	height: 33px;
	left: 78px;
	width: 42px;
}
.pause.paused {
	background: url("../images/bt-play.png") 50% 4px no-repeat;
	height: 33px;
	left: 78px;
	width: 42px;
}
.status {
	background: url("../website/images/status-bar.png") -119px 0 repeat-y;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 6px;
	margin: 0 auto;
	position: relative;
	top: 4px;
	width: 118px;
}
.status.paused {
	-webkit-animation: paused 1s linear alternate infinite;
	-moz-animation: paused 1s linear alternate infinite;
	-ms-animation: paused 1s linear alternate infinite;
	-o-animation: paused 1s linear alternate infinite;
	animation: paused 1s linear alternate infinite;
}
 @keyframes "paused" {
 0% {
 background-position: 0 0;
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
 100% {
 background-position: 0 0;
 opacity: .7;
	zoom: 1;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
}
 @-moz-keyframes paused {
 0% {
 background-position: 0 0;
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
 100% {
 background-position: 0 0;
 opacity: .7;
	zoom: 1;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
}
 @-webkit-keyframes "paused" {
 0% {
 background-position: 0 0;
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
 100% {
 background-position: 0 0;
 opacity: .7;
	zoom: 1;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
}
 @-ms-keyframes "paused" {
 0% {
 background-position: 0 0;
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
 100% {
 background-position: 0 0;
 opacity: .7;
	zoom: 1;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
}
 @-o-keyframes "paused" {
 0% {
 background-position: 0 0;
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
 100% {
 background-position: 0 0;
 opacity: .7;
	zoom: 1;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}
}
 @keyframes "status-bar" {
 0% {
 background-position: -119px 0;
}
 100% {
 background-position: 0 0;
}
}
 @-moz-keyframes status-bar {
 0% {
 background-position: -119px 0;
}
 100% {
 background-position: 0 0;
}
}
 @-webkit-keyframes "status-bar" {
 0% {
 background-position: -119px 0;
}
 100% {
 background-position: 0 0;
}
}
 @-ms-keyframes "status-bar" {
 0% {
 background-position: -119px 0;
}
 100% {
 background-position: 0 0;
}
}
 @-o-keyframes "status-bar" {
 0% {
 background-position: -119px 0;
}
 100% {
 background-position: 0 0;
}
}
.status.active {
	-webkit-animation: status-bar 4s linear;
	-moz-animation: status-bar 4s linear;
	-ms-animation: status-bar 4s linear;
	-o-animation: status-bar 4s linear;
	animation: status-bar 4s linear;
}
.pause-icon {
	right: 20px;
	position: absolute;
	bottom: 20px;
}
#images-preloader {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 999999;
}
 @keyframes "preload" {
 0% {
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
 50% {
 opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
 100% {
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
}
 @-moz-keyframes preload {
 0% {
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
 50% {
 opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
 100% {
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
}
 @-webkit-keyframes "preload" {
 0% {
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
 50% {
 opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
 100% {
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
}
 @-ms-keyframes "preload" {
 0% {
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
 50% {
 opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
 100% {
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
}
 @-o-keyframes "preload" {
 0% {
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
 50% {
 opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
 100% {
 opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}
}
#images-preloader img {
	background: #ff9933;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: inline-block;
	height: 12px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	position: relative;
	top: -50%;
	width: 12px;
	-webkit-animation: preload 1s infinite;
	-moz-animation: preload 1s infinite;
	-ms-animation: preload 1s infinite;
	-o-animation: preload 1s infinite;
	animation: preload 1s infinite;
}
.preloading {
	height: 12px;
	margin: 0 auto;
	top: 50%;
	position: relative;
	width: 48px;
}
#images-preloader img:nth-child(2) {
	-webkit-animation-delay: .15s;
	-moz-animation-delay: .15s;
	-ms-animation-delay: .15s;
	-o-animation-delay: .15s;
	animation-delay: .15s;
}
#images-preloader img:nth-child(3) {
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-ms-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
}
.preloading-complete {
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	visibility: hidden;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.iphone {
	left: -550px;
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	position: absolute;
	top: -550px;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.iphone.animate-in {
	left: 630px;
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	top: -10px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.iphone.animate-out {
	left: 1100px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: -400px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.iphone-shadow {
	left: 598px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: 490px;
	position: absolute;
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.iphone-shadow.animate-in {
	left: 565px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: 420px;
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.iphone-shadow.animate-out {
	left: 598px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: 490px;
	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
	-ms-transition-duration: 2s;
	transition-duration: 2s;
}
.ipad {
	left: -450px;
	position: absolute;
	top: 700px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
	z-index: 5;
}
.ipad.animate-in {
	left: 460px;
	top: 5px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.ipad.animate-out {
	left: -800px;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	opacity: 0;
	top: 50px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.ipad-shadow {
	left: 30px;
	top: 508px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	position: absolute;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
}
.ipad-shadow.animate-in {
	left: 455px;
	top: 435px;
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.ipad-shadow.animate-out {
	left: -800px;
	top: 508px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
/* CUSTOM */

.seq-container {
	height: 500px;
	margin-right: auto;
	margin-left: auto;
}
#seq_header{
	background: transparent;
	height:580px;
	top: -10px;
}
#sequence,#loader_sequence {
	height: 500px;
	margin: 0 auto;
	position: relative;
	top: 45px;
	width: 1025px;
	/*backface-visibility prevents graphical glitches when frames are animating*/
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
.controls {
	display:none;
}
h3 {
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #78963c;
	padding-left:2px;
	font-weight: 600;
}
h1 {
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size: 38px;
	font-weight:normal;
	padding-left:2px;
	color: #000;
	line-height:40px;
}
h2 {
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size: 38px;
	font-weight:normal;
	padding-left:2px;
	color: #6a6a6d;
	line-height:40px;
}
.sign-up-button {
	margin-top:30px;
	width:284px;
	line-height:80px;
	font-size:36px;
	height:89px;
	background-image: url(../images/sign-up-button.png);
	background-repeat: no-repeat;
	background-position: -8px top;
	color:#f8f8f8;
	color:#f8f8f8;
	text-shadow: 1px 1px 1px #CCC;
	display: block;
	text-align: center;
	cursor:pointer;
}
.sign-up-button:hover {
	background-image: url(../images/sign-up-button.png);
	background-position: -8px -197px;
}
.mobile {
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	position: absolute;
	left: -550px;
	top: -400px;
	width: 400px;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
	z-index:100;
}
.mobile.animate-in {
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	left: 0px;
	top:0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.mobile.animate-out {
	left: 100px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: 250px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.database {
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	left: 950px;
	position: absolute;
	top: 600px;
	width: 400px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	z-index:100;
}
.database.animate-in {
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	left: 0px;
	top: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.database.animate-out {
	left: 800px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: 250px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.web {
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	position: absolute;
	left: -650px;
	top: -800px;
	width: 400px;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
	z-index:100;
}
.web.animate-in {
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	left: 0px;
	top: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.web.animate-out {
	left: 100px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: 250px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.icons1 {
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	left: -850px;
	position: absolute;
	top: 0px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
	z-index: 5;
}
.icons1.animate-in {
	left: 480px;
	top: -10px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1.6s;
	-moz-transition-duration: 1.6s;
	-o-transition-duration: 1.6s;
	-ms-transition-duration: 1.6s;
	transition-duration: 1.6s;
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.icons1.animate-out {
	left: -850px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1.2s;
	-moz-transition-duration: 1.2s;
	-o-transition-duration: 1.2s;
	-ms-transition-duration: 1.2s;
	transition-duration: 1.2s;
}
.icons2 {
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	left: -850px;
	position: absolute;
	top: 0px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
	z-index: 5;
}
.icons2.animate-in {
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	left: 480px;
	top: -10px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.icons2.animate-out {
	left: -800px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: 50px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.ipad-icons1 {
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	left: -850px;
	position: absolute;
	top: 0px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
	z-index: 200;
}
.ipad-icons1.animate-in {
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	left: 600px;
	top: -50px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.ipad-icons1.animate-out {
	left: -800px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: 50px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.ipad-icons2 {
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	left: -870px;
	position: absolute;
	top: -20px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
	z-index: 200;
}
.ipad-icons2.animate-in {
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	left: 500px;
	top: 110px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.ipad-icons2.animate-out {
	left: -820px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: 50px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.ipad-icons3 {
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	left: -850px;
	position: absolute;
	top: 0px;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
	z-index: 200;
}
.ipad-icons3.animate-in {
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	left: 650px;
	top: 160px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
	-ms-transition-duration:2s;
	transition-duration: 2s;
}
.ipad-icons3.animate-out {
	left: -800px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: 50px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.monitor {
	left: -650px;
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	position: absolute;
	top: -650px;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.monitor.animate-in {
	left: 520px;
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	top: 50px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.monitor.animate-out {
	left: 1100px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: -400px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.monitor-gui {
	left: 1650px;
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	position: absolute;
	top: -650px;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.monitor-gui.animate-in {
	left: 455px;
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	top: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.monitor-gui.animate-out {
	left: 1100px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: -400px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.monitor-text {
	left: 1850px;
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	position: absolute;
	top: -650px;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg);
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.monitor-text.animate-in {
	left: 490px;
	opacity: 1;
	zoom: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	top: -5px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition-duration: 1.9s;
	-moz-transition-duration: 1.9s;
	-o-transition-duration: 1.9s;
	-ms-transition-duration: 1.9s;
	transition-duration: 1.9s;
}
.monitor-text.animate-out {
	left: 1100px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: -400px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-ms-transition-duration: 1s;
	transition-duration: 1s;
}
.monitor-shadow {
	left: 598px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: 490px;
	position: absolute;
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.monitor-shadow.animate-in {
	left: 668px;
	top: 445px;
	zoom: 1;
	filter:alpha(opacity=60); /* For IE8 and earlier */
	opacity:0.6;
	-webkit-transition-duration: 1.5s;
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	transition-duration: 1.5s;
}
.monitor-shadow.animate-out {
	left: 598px;
	opacity: 0;
	zoom: 1;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	top: 490px;
	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-o-transition-duration: 2s;
	-ms-transition-duration: 2s;
	transition-duration: 2s;
}

#maincontainer {
	height: 500px;
	margin: 0 auto;
	position: relative;
	top: 35px;
	width: 1025px;
	/*backface-visibility prevents graphical glitches when frames are animating*/
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}