 body {background-image: url(../img/site-support-bg.jpg);background-repeat: repeat-x;background-color:#ebebec;}
.support-site-width{width:1025px;min-width:975px;margin-left:auto;margin-right:auto;}
.backand-logo{float:none;}
.info-heading{margin-top:10px;}
 