<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Durados.Web.Mvc.Specifics.Infomed.Properties.Settings.IMedModuBizConnectionString"
            connectionString="Data Source=212.150.139.22;Initial Catalog=IMed.ModuBiz;User ID=ImedTestUser;Password=infomed2011"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>