<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Durados.Web.Mvc.Specifics.Fibi.P8.Properties.Settings.FIBI_P8CMConnectionString"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=FIBI_P8CM;Persist Security Info=True;User ID=fibi;Password=fibi"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Fibi.P8.Properties.Settings.FIBI_P8CMConnectionString1"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=FIBI_P8CM;Persist Security Info=True;User ID=fibi;Password=fibi" />
    </connectionStrings>
</configuration>