/*.table-menu .group-l a .icon, .table-menu .group-r a .icon {
	background-image: url(skin1/img/ui-sprite.png);
}*/
.filterOn {
	color: #31AD09 !important;
	/*font: Arial 14px !important;
	font-weight: 100 !important;
	text-shadow:none !important;*/
}
.selected td {
	background: transparent;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ff8605;
}
.gridview th, .gridviewhead th, td.ScrollPlace, tr.gridviewhead td.ScrollPlace {
	background: transparent;
}
.d_alt_row td {
	background-color: #EDE4E4;
}
.gridPager-div {
	background-color: #ffffff;
	border-width: 1px;
	border-style: solid;
	border-color: #710000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-top: 16px;
	-moz-box-shadow: 0px 0px 10px 2px #999999; /* Firefox */
	-webkit-box-shadow: 0px 0px 10px 2px #999999; /* Safari, Chrome */
	box-shadow: 0px 0px 10px 2px #999999; /* CSS3 */
}
.gridPager td {
	color: #710000;
	text-shadow: 0px 0px 0px;
	vertical-align: middle;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	line-height: 14.296875px;
}
td.ddlpageSize select, td.curPageInput input {
	color: #000000;
	background-color: #ffffff;
	border-width: 1px;
	border-style: solid;
	border-color: #710000;
}
.gridPager-div .totalRows {
	color: #710000;
	text-shadow: none;
	line-height: 25px;
	margin-top:0px;
}
.ui-widget-content {
	font-size: 15px;
}
.ui-widget-content input {
	font-size: 15px;
}
.ui-widget-content select {
	font-size: 15px;
}

button.ui-button {
	background-color: #ffffff !important;
	background-image: url(skin1/img/ui-bg_highlight-soft_20_494949_1x100.png) !important;
	background-repeat: repeat-x !important;
	background-position: left top !important;
	color: #ffffff !important;
	text-shadow: none;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #710000 !important;
}
button.ui-button.ui-state-hover {
	background-position: left bottom !important;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #ffffff;
}
.ui-widget-header {
	background-image: -webkit-linear-gradient(top, #ffffff 30%, #81B63A 70%);
	background-origin: padding-box;
}
.ui-tabs .ui-tabs-nav {
	margin-bottom: -1px !important;
}
.ui-tabs .ui-tabs-nav li {
	margin-left: 0px;
	margin-right: -1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #710000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#710000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #710000;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover {
	background-color: #710000;
	background-image: url(skin1/img/active-top.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #710000;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover a {
	color: #710000 !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ffffff;
}
.selected td, .selected td, .selected.hovered td {
	background-color: transparent;
	background-image: url(skin1/img/selected-table-bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
tr.data-row.selected {
	background-color: #ffffff !important;
	background-image: url(skin1/img/selected-table-bg-bottom.jpg) !important;
	background-repeat: repeat-x !important;
	background-position: left bottom !important;
}
/*by br4*/
table.gridview, table.gridviewhead {
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: normal;
	font-size: 15px;
}
/*by br4*/
table.gridview, table.gridviewhead {
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/*by br4*/
table.gridview thead, table.gridviewhead tbody{
	background-color: #710000;
	color: #ffffff;
}
/*by br4*/
table.gridview td, table.gridviewhead td, .gridview th, .gridviewhead th {
	vertical-align: middle;
	height: 45px;
	text-align: center;
	padding: 0 10px;
	border-left-width: 1px !important;
	border-left-style: solid !important;
	border-left-color: #FFD2D2 !important;
	border-top: none;
	border-bottom: none !important;
	border-right: none;
}
/*by br4*/
table.gridview th, table.gridviewhead th {
	font-weight: normal;
}
/*by br4*/
table.gridview td:first-child, table.gridview th:first-child, table.gridviewhead th:first-child {
	border-left: none;
	text-align: left;
}
/*by br4 todo*/
table.gridview a, table.gridview .header_top #main_nav a.active, .header_top #main_nav table.gridview a.active, table.gridview .header_top #main_nav a:hover, .header_top #main_nav table.gridview a:hover {
	color: #710000;
}
table.gridview a:hover, table.gridview .header_top #main_nav a.active:hover, .header_top #main_nav table.gridview a.active:hover, table.gridview .header_top #main_nav a:hover, .header_top #main_nav table.gridview a:hover {
	text-decoration: underline;
}
table.gridview .published {
	color: #710000;
	text-align: left;
	text-indent: 60px;
	background-color: transparent;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAANCAYAAABPeYUaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZJJREFUeNpi+P//PwOp+N+/P8wHHlS3vPx6SRfEJ9mAH38+8C+/6rG99QjD/0mnpJ+8/35PkYWBBPD+xx2VFVc9t4NoEJ+bTeIFJ6vQO6INufd+h8f6mxErfv79yA/iC3Ko3InQ2u7Jzsz/kQkk8P3PO6Ebb9eE4DLg5LO+opXXfbbADOBlk34arbPXmYtV9DWIz/Tn33fOlUAnrrsRunrL7cT5v/5+4YFp/vv/FxtIbO/94t7///8yg8RAGsO1t3vyscs9gqljfPf9tsq8CyZnYLYIc6rfDNRYHcrNIvp69XX/jc++nDKDKWZh4vweo3vAQYrH7BSySxlBIf7g4z4nkGtANsMUs7Pwf/z664UETCEzI9uvMK0tPooCrrvRvQsOEwV+p33eKnNSYIIgLyIbwMjI/NdXbVEcNgPghoCAjljsYkuZig5sityVJudqiYSvxBXwTMgcR/n2Sm3RqGXIYvbyLTVGEpnT8cY/eor8/fcb5/wLZidBKXLn3ZzJxKRirIJff70S3fegop3YrAAQYABYT0qY9R8/zwAAAABJRU5ErkJggg==');
	background-position: 35px center;
	background-repeat: no-repeat;
}
table.gridview .unpublished {
	margin-top: 5px;
}
.page-my-apps #branding, .page-developer-reports #branding {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #710000;
	background: none;
}
/*by br4*/
div.fixedviewportWrapper
{
    /*position: relative;*/
	width: 100%;
	padding: 0;
	padding-bottom: 3px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	/*margin-top: 8px;*/
	-moz-box-shadow: 0px 0px 10px 2px #999999; /* Firefox */
	-webkit-box-shadow: 0px 0px 10px 2px #999999; /* Safari, Chrome */
	box-shadow: 0px 0px 10px 2px #999999; /* CSS3 */
}
/*by br4*/
div.headWrapper
{
    -moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	-khtml-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}
/*by br4*/
div.fixedViewPort 
{
    width: 100%;
	padding: 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	/*position: relative;
	width: 100%;
	padding: 0;
	padding-bottom: 3px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	margin-top: 8px;
	-moz-box-shadow: 0px 0px 10px 2px #999999; /* Firefox */
	/*-webkit-box-shadow: 0px 0px 10px 2px #999999; /* Safari, Chrome */
	/*box-shadow: 0px 0px 10px 2px #999999; /* CSS3 */
}
div.fixedViewPort .collapse h4 {
	margin: 0;
}
div.fixedViewPort .single_app img:first-child {
	height: 60px;
	margin-right: 10px;
	width: 60px;
	display: inline-block;
}
div.fixedViewPort .single_app + .graph_filters {
	margin-top: 20px;
}
div.fixedViewPort .single_app #loader {
	margin-top: 15px;
}
.ajaxDiv {
	margin-left: 5px;
	margin-right: 5px;
}
/*by br4*/
table.gridview tr.rowfilter td, table.gridviewhead tr.rowfilter td {
	text-align: left;
}
tr.rowfilter td {
	background-color: #D5A4A4;
}
/*by br4*/
table.gridview th span.desc-icon, table.gridviewhead th span.desc-icon {
	background: url(skin1/img/ui-sprite.png) no-repeat -20px -40px;
	display:block;
}
/*by br4*/
table.gridview th span.desc-icon:hover, table.gridviewhead th span.desc-icon:hover {
	background: url(skin1/img/ui-sprite-hover.png) no-repeat -20px -40px;
	display:block;
}
tr.hovered td {
	background-color: #FFF4F4;
}
a span.img{
	background-image: url(skin1/img/ui-sprite.png) !important;
}
 .filterOff {
	color: #710000;
	right: auto !important;
	/*left: -35px;*/
	text-shadow:none !important;
}
/*by br4*/
table.gridview tr.rowfilter td.ckbtd, table.gridview tr.rowfilter td.edittd, table.gridviewhead tr.rowfilter td.ckbtd, table.gridviewhead tr.rowfilter td.edittd {
	border: none !important;
}
/*by br4*/
table.gridview tr.rowfilter td.ckbtd, table.gridviewhead tr.rowfilter td.ckbtd {
	border-left-width: 1px !important;
	border-left-style: solid !important;
	border-left-color: #F9BFBF !important
}
.filter-buttons {
	background-color: #710000;
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
	-khtml-border-radius: 0px 0px 6px 6px;
	border-radius: 0px 0px 6px 6px;
}
/*
.table-menu a.filterButton.filterClicked {
	background-image: url(skin1/img/bg-sprite.png);
}
*/
.filter-buttons .button {
	border-width: 1px;
	border-style: solid;
	border-color: #710000;
	background-image: url(skin1/img/button-sprite.png);
	background-repeat: repeat-x;
	background-position: center top;
	line-height: 25px;
	color: #ffffff;
}
.table-menu {
	background-image: url(skin1/img/bg-sprite.png);
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	-khtml-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}
.table-menu .group-l a, .table-menu .group-r a {
	color: #000000;
}
.table-menu a.filterButton.filterClicked {/*color:#ffffff !important;*/}

table.gridview td.ShortTextFieldType img {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #710000;
}
.ui-dialog .ui-dialog-buttonpane, .ui-widget-content {
	background-color: transparent;
	background-image: none;
	border: none;
}

.ui-tabs .ui-tabs-panel {
	background-color: #ffffff;
	border-width: 1px;
	border-style: solid;
	border-color: #710000;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background-image: none;
	background-color: #ffffff;
	color: #710000;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #710000;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background-color: #710000;
	background-image: url(skin1/img/active-top.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	margin-left: 0px !important;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #710000;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #710000;
}
.ui-widget-header {
	background: none;
	color:#710000;
}
.ui-dialog {
	background-color: #ffffff;
	background-image: url(skin1/img/dialog-bg.png);
	background-repeat: repeat-x;
	background-position: left top;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0px 0px 10px 2px #999999; /* Firefox */
	-webkit-box-shadow: 0px 0px 10px 2px #999999; /* Safari, Chrome */
	box-shadow: 0px 0px 10px 2px #999999; /* CSS3 */
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background-color: #F2E1E1;
	background-image: none;
}
.table-menu .group-l .more-actions li a:hover {
	background-color: #ffffff;
	color: #710000;
}
/*--------------------Group and sort filter ---------*/
.groupFilter {
	background-color: #710000;
}
.groupFilter_label {
	color: #ffffff
}
.groupFilter table {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
span.icon_sort_Asc {
	background-image: url(Images/ui-sprite.png);
	background-repeat: no-repeat;
	background-position: -185px -45px;
	display: inline-block;
	width: 10px;
	height: 10px;
	left: 0px;
	top: 0px;
}
span.icon_sort_Desc {
	background-image: url(Images/ui-sprite.png);
	background-repeat: no-repeat;
	background-position: -165px -45px;
	display: inline-block;
	width: 10px;
	height: 10px;
	left: 0px;
	top: 0px;
}
a.sort_command {
	color: #ff8605;
	text-decoration: underline
}
.group-sorting .header {
	color: #ffffff;
	font-weight: normal;
}
.group-sorting {
	color: #710000;
}
.group-sorting a {
	color: #FF9D9D;
}
.advancedFilterDialog {
	background-color: white;
}
th.NotSortable {
	color: #710000 !Important;
	font: Arial 14px !Important;
	font-weight: 100 !Important;
}
th A.Sortable, th SPAN.sortable {
	color: #FF6B6B !Important;
	font: Arial 14px !Important;
	font-weight: 100 !Important;
}
.tree_filter_selectedValues, .group-sorting {
	background-color: #710000;
}
.ui-dropdownchecklist .ui-dropdownchecklist-selector {
	background-color: #E8E8E8;
	color: #494949;
	border-right:none;
}
	
/*------------------Dashboard Style ---------------------*/
.gridboard {
}
div.gridboard div.boardrow {
	float: left;
	width: 300px;
	margin: 6px;
	padding: 3px;
	border-width: 1px;
	border-color: #FFCFCF;
	border-style: solid;
	overflow: hidden;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}
.boardtitle {
	border: none;
	background-image: -webkit-linear-gradient(top, #FFDFDF 30%, #FFDBDB 70%);
	color: #710000;
	font-weight: bold;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	margin: 0 0 3px 0;
	padding: 3px 30px 3px 6px;
	cursor: pointer;
	position: relative;
	top: 0;
	left: 0;
}
.boardselected {
	color: #ffffff;/*by br*/
	background-image: -webkit-linear-gradient(top, #710000 30%, #710000 70%);
	margin: 0 0 3px 0;
	padding: 3px 30px 3px 6px;
	cursor: pointer;
	position: relative;
	top: 0;
	left: 0;
}
div.gridboard table {
	width: 100%;
}
div.gridboard td {
	width: 50%;
	white-space: normal !important;
}
div.boardtitle span {
	color: #710000;
	position: absolute;
	top: 4px;
	right: 4px;
}
body.template td a:link, body.template td a:visited {
	color: #B1B1B1;
}
.boardtitle a:hover {
	color: #710000 !important;
}
.watermarkThis {color: #710000 !important;}


/*--------------------Date picker ---------*/
.ui-datepicker {background-color: #ffffff !important;
	border-width: 1px;
	border-color: #710000;
	border-style: solid;
}
.ui-datepicker .ui-state-default { color:#710000 !important;}
.ui-datepicker .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border-color: #000000;
	color:#710000 !important;
}
.ui-slider-horizontal { border: solid 1px #710000;}
.ui-slider-horizontal .ui-state-active{ margin-left: -.6em !important; }
/*--------------------end Date picker ---------*/
