
.gridview tr.data-row
{   
    line-height: 30px;
    height: 30px;
}


/* background */
/*tr.rowfilter td input.advancedFilter, tr.rowfilter td { background-color: rgba(255, 255, 255, 0); }
tr.rowfilter td input.textFilter, tr.rowfilter td input.advancedFilter, tr.rowfilter td input[type="text"] { background-color: rgba(255, 255, 255, 0);}
.table-menu .group-r a.search     { background-color: rgba(255, 255, 255, 0); }
 .table-menu .group-r a.search input    { background-color: rgba(255, 255, 255, 0); }*/
 .table-menu a.filterButton.filterClicked {color:#868788;}
   
table.gridview thead, table.gridviewhead tbody, .gridviewhead th { background: rgba(27, 160, 133, 1); }
.filter-buttons { background-color: rgba(255, 255, 255, 0); }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background-color: rgba(255, 255, 255, 0); }
.groupFilter{ background-color: rgba(255, 255, 255, 0);}
.tree_filter_selectedValues, .group-sorting {background-color: rgba(255, 255, 255, 0);}
.gridPager-div {/*background-color: rgba(255, 255, 255, 0);*/ height:30px; background: #f1f1f1; }
.gridPager{padding-top: 2px;}
.gridPager-div .totalRows {margin-top:4px; color:rgb(76,76,76);text-shadow:none;}
.gridPager td {color:rgb(76,76,76);text-shadow:none;}
table.gridviewhead th, table.gridview th{vertical-align:top;}
th A.Sortable, th SPAN.sortable{font-weight:normal !important;}
th.HtmlFieldType {font-weight:bold;}
td.ddlpageSize select, td.curPageInput input {background-color: rgba(255, 255, 255, 0);color:Black;}
tr.rowfilter td { background-color: rgba(243, 101, 35, 1); }
th.tablecmdhead, th.tablecmdhead{ padding-top: 7px !important; }

th.thCheck, td.thCheck{ padding-left: 0px !important; }

     
.filter-buttons .button {background-image: none;}
.filter-buttons .button {background-image:linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);}
.filter-buttons .button:hover {background-image:linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);}
     
.table-menu .group-l a.filterButton,  .table-menu .group-r a.filterButton {background-image: none;}
.table-menu .group-l a.filterButton, .table-menu .group-r a.filterButton {background-image:linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100% );}
    
/* RowBackground */
.d_fix_row td { background-color: rgba(255, 255, 255, 0); }
tr.data-row {background-color: rgba(255, 255, 255, 0) !important;border-bottom: 1px rgba(255, 255, 255, 0) !important;}
.selected td, .selected.hovered td {background-color: rgba(255, 255, 255, 0);}

/* AlternateRowBackground */
.d_alt_row td { background-color: rgba(255, 255, 255, 0); }
tr.data-row.d_alt_row {background-color: rgba(255, 255, 255, 0) !important;border-bottom: 1px rgba(255, 255, 255, 0) !important;}
.selected td, .selected.hovered td {background:none; background-color: #f3b858;}

/* ToolBoxBackground */
.table-menu .group-l a, .table-menu .group-r a {background-image:none;}
.table-menu { background-image: none; }
.table-menu { background-color: rgba(241, 241, 241, 1); }
.table-menu { background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%); }
.table-menu .group-l a, .table-menu .group-r a{color:rgb(74,74,74)}
.table-menu{font-size: 13px;
font-weight: bold;}    
/* HoverBeckground */
tr.hovered td {background: rgba(255, 255, 255, 0);}

/* row border */
.data-row td {border-bottom: 1px rgb(204, 204, 204) solid !important;}
.gridviewhead th{border-bottom: none;border-right: 1px solid rgba(255, 255, 255, 0);font-size:16px;}
table.gridviewhead td {border-bottom: none;padding-bottom: 5px;padding-top: 5px;}
tr.gridviewhead td.ScrollPlace {background: rgba(255, 255, 255, 0) none;}

/* Header Forecolor */
th A.Sortable, th SPAN.sortable {color:White;}

/* Row Forecolor */
.enabledCell {color:Black !important;font-size:15px;}

.ui-dialog-titlebar {background:#f3b858; font-weight:normal;}
.ui-dialog-title{color:Black;}


.ui-tabs>ul>.ui-state-default{font-weight: bold; background: rgb(204,204,204);}
.ui-state-default.ui-state-active, .ui-widget-content li.ui-state-active, .ui-widget-header li.ui-state-active {background: #FFFFFF ;}
.ui-tabs>ul>.ui-state-default.ui-state-active {border-top: 3px solid orange;}
.ui-tabs > ul.ui-tabs-nav {background: rgb(204,204,204);}
li.ui-state-default>a>span{color:rgb(73,73,73);font-size:14px;}
.ui-dialog-buttonset > button.ui-button {
background: rgba(27, 160, 133, 1);
color: white;
font-weight: bold;
border: none;
}

.ui-tabs-nav>.ui-tabs-selected>a{margin-top:-3px;}

.groupFilter_label{color:#494949;}
.groupFilter table {border-bottom:none;}

.group-sorting {background-color:rgb(242,101,34);font-size: 13px;padding-top:1px;}

.boardtitle {background:#f3b858; color: rgb(74,74,74);}

.boardrow2  .boardselected {
color: white;
background: #f26522;
}

.boardtitle a:hover, .boardtitle a {color:rgb(74,74,74) !important; font-size: 13px !important; font-weight:bold !important;}



tr.rowfilter .edittd {text-shadow: none; color: white;}

tr.rowfilter td input.textFilter, tr.rowfilter td input.advancedFilter, tr.rowfilter td input[type="text"] {background:white;}

.filter-border-triangle{
width: 21px;
height: 12px;
left: 40%;
position: absolute;
background: url(/Content/images/ui-sprite.png) -136px -126px;
top: 66px;
z-index:10;}

.filterClicked .filter-border-triangle{display: none;}

.ui-dropdownchecklist-dropcontainer .ui-dropdownchecklist-item {color:Black; background:White;}

table.gridviewhead th:hover {border: 1px dotted rgba(243, 101, 35, 1);padding: 8px 13px 0 10px;}
table.gridviewhead th:hover .thdiv{padding-bottom:9px;left:-1px;}
table.gridviewhead th:hover span.desc-icon{bottom:6px;}

table.gridviewhead th.tablecmdhead:hover {border: none; padding: 0;}
table.gridviewhead th.tablecmdhead.thAll:hover {border-right: 1px solid rgba(255, 255, 255, 0);}
table.gridviewhead th.tablecmdhead.thAll2:hover {border-right: 1px solid rgba(255, 255, 255, 0);}

.boardtitle.boardselected {background:rgb(242,101,34);}