
.gridview tr.data-row
{   
    line-height: 25px;
    height: 25px;
}


/* background */
/*tr.rowfilter td input.advancedFilter, tr.rowfilter td { background-color: rgba(255, 255, 255, 0); }
tr.rowfilter td input.textFilter, tr.rowfilter td input.advancedFilter, tr.rowfilter td input[type="text"] { background-color: rgba(255, 255, 255, 0);}
.table-menu .group-r a.search     { background-color: rgba(255, 255, 255, 0); }
 .table-menu .group-r a.search input    { background-color: rgba(255, 255, 255, 0); }*/
 .table-menu a.filterButton.filterClicked {color:#868788;}
   
table.gridview thead, table.gridviewhead tbody, .gridviewhead th { background: rgba(255, 255, 255, 0); }
.filter-buttons { background-color: rgba(255, 255, 255, 0); }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background-color: rgba(255, 255, 255, 0); }
.groupFilter{ background-color: rgba(255, 255, 255, 0);}
.tree_filter_selectedValues, .group-sorting {background-color: rgba(255, 255, 255, 0);}
.gridPager-div {/*background-color: rgba(255, 255, 255, 0);*/ height:35px; background-image: url(Transparent/img/pager-bg.png); background-repeat: repeat-x; padding:0 0 4px 0; }
.gridPager{padding-top: 12px;}
.gridPager-div .totalRows {margin-top:14px; color:White;}
.gridPager td {color:White;}
table.gridviewhead th, table.gridview th{vertical-align:top;}
th A.Sortable, th SPAN.sortable{font-weight:bold !important;}
th.HtmlFieldType {font-weight:bold;}
td.ddlpageSize select, td.curPageInput input {background-color: rgba(255, 255, 255, 0);color:White;}
tr.rowfilter td { background-color: rgba(255, 255, 255, 0); }
th.tablecmdhead, th.tablecmdhead{ padding-top: 7px !important; }

th.thCheck, td.thCheck{ padding-left: 0px !important; }

     
.filter-buttons .button {background-image: none;}
.filter-buttons .button {background-image:linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);}
.filter-buttons .button:hover {background-image:linear-gradient( rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);}
     
.table-menu .group-l a.filterButton,  .table-menu .group-r a.filterButton {background-image: none;}
.table-menu .group-l a.filterButton, .table-menu .group-r a.filterButton {background-image:linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100% );}
    
/* RowBackground */
.d_fix_row td { background-color: rgba(255, 255, 255, 0); }
tr.data-row {background-color: rgba(255, 255, 255, 0) !important;border-bottom: 1px rgba(255, 255, 255, 0) !important;}
.selected td, .selected.hovered td {background-color: rgba(255, 255, 255, 0);}

/* AlternateRowBackground */
.d_alt_row td { background-color: rgba(255, 255, 255, 0); }
tr.data-row.d_alt_row {background-color: rgba(255, 255, 255, 0) !important;border-bottom: 1px rgba(255, 255, 255, 0) !important;}
.selected td, .selected.hovered td {background-color: rgba(255, 255, 255, 0);}

/* ToolBoxBackground */
.table-menu .group-l a, .table-menu .group-r a {background-image:none;}
.table-menu { background-image: none; }
.table-menu { background-color: rgba(255, 255, 255, 0); }
.table-menu { background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%); }
    
/* HoverBeckground */
tr.hovered td {background: rgba(255, 255, 255, 0);}

/* row border */
.data-row td {border-bottom: 1px black solid !important;}
.gridviewhead th{border-bottom: 1px solid black;border-right: 1px solid rgba(255, 255, 255, 0);font-size:18px;}
table.gridviewhead td {border-bottom: 1px solid black;}
tr.gridviewhead td.ScrollPlace {background: rgba(255, 255, 255, 0) none;}

/* Header Forecolor */
th A.Sortable, th SPAN.sortable {color:Black !important;}

/* Row Forecolor */
.enabledCell {color:Black !important;font-size:15px;}