<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Durados.Web.Mvc.Specifics.Bugit.Properties.Settings.TasksLiveConnectionString"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=bugit;User ID=bugit;Password=bugit"
            providerName="System.Data.SqlClient" />
        <add name="Durados.Web.Mvc.Specifics.Bugit.Properties.Settings.TasksConnectionString"
            connectionString="Data Source=durados.info\sqlexpress;Initial Catalog=bugit;User ID=bugit;Password=bugit" />
    </connectionStrings>
</configuration>